@model API_Adda.Models.ExceptionLevels
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "ExceptionLevel3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SaveExceptionLevel3", "ExceptionManagement", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="container mt-10">
        <div class="card">
            <div class="card-body">
                <div class="row form-group">
                    <div class="col-md-12 addnew-popup-heading" style="border-bottom: 1px solid #f5eeee;">
                        <h4>Exception Level 3:</h4>
                        <a href="/ExceptionManagement/AddEditException?CaseId=@Model.CaseID" class="close-btn" style="font-size: 15px; font-weight: 600;"><i class="bx bx-left-arrow-circle" style="vertical-align:middle;"></i> Back</a>
                    </div>
                </div>
                <div class="row form-group">
                    <div id="msform">
                        <div class="row form-group">
                            <div>
                                <label class="label-control" style="font-weight: 600;">Exception Approval Matrix For Case ID - </label> <label>@Model.CaseID</label>
                                @Html.HiddenFor(m => m.CaseID)
                            </div>

                        </div>
                        <div class="row form-group">
                            <h5 style="font-size: 17px;font-weight: 600;color: #20c4c6;">Concurred by:</h5>
                            <div class="col-md-4">
                                <label class="label-control">IT Vertical Head</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>

                                @Html.DropDownListFor(a => a.ITVerticalHead, (List<SelectListItem>
                                         )ViewBag.ITVerticalHeadList, "--Select--", new { @class = "form-control ", @id = "ddlITVerticalHead" })
                                @Html.ValidationMessageFor(a => a.ITVerticalHead, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label class="label-control">BSG Vertical Head</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>

                                @Html.DropDownListFor(a => a.BSGVerticalHead, (List<SelectListItem>
                                         )ViewBag.BSGVerticalHeadList, "--Select--", new { @class = "form-control ", @id = "ddlBSGVerticalHead" })
                                @Html.ValidationMessageFor(a => a.BSGVerticalHead, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label class="label-control">Business Vertical Head</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>

                                @Html.DropDownListFor(a => a.BusinessVerticalHead, (List<SelectListItem>
                                         )ViewBag.BusinessVerticalHeadList, "--Select--", new { @class = "form-control ", @id = "ddlBusinessVerticalHead" })
                                @Html.ValidationMessageFor(a => a.BusinessVerticalHead, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label class="label-control">Compliance Vertical Head</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>

                                @Html.DropDownListFor(a => a.ComplianceVerticalHead, (List<SelectListItem>
                                         )ViewBag.ComplianceVerticalHeadList, "--Select--", new { @class = "form-control ", @id = "ddlComplianceVerticalHead" })
                                @Html.ValidationMessageFor(a => a.ComplianceVerticalHead, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label class="label-control">ITDRM Vertical Head</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>

                                @Html.DropDownListFor(a => a.ITDRMVerticalHead, (List<SelectListItem>
                                         )ViewBag.ITDRMVerticalHeadList, "--Select--", new { @class = "form-control ", @id = "ddlITDRMVerticalHead" })
                                @Html.ValidationMessageFor(a => a.ITDRMVerticalHead, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label class="label-control">ISG Vertical Head</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>

                                @Html.DropDownListFor(a => a.ISGVerticalHead, (List<SelectListItem>
                                         )ViewBag.ISGVerticalHeadList, "--Select--", new { @class = "form-control ", @id = "ddlISGVerticalHead" })
                                @Html.ValidationMessageFor(a => a.ISGVerticalHead, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <h5 style="font-size: 17px;font-weight: 600;color: #20c4c6;">Approved by:</h5>
                                <label class="label-control">Apex Steering Committee</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>

                                @Html.DropDownListFor(a => a.ApexSteeringCommittee, (List<SelectListItem>
                                         )ViewBag.APEXSteeringCommitteeList, "--Select--", new { @class = "form-control ", @id = "ddlApexSteeringCommittee" })
                                @Html.ValidationMessageFor(a => a.ApexSteeringCommittee, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                @if (Accessor.HttpContext.Session.GetString("Role") == "USER")
                                {
                                    <input type="submit" id="btnSubmit" name="btnSubmit" class="action-button" value="Request for exception approval" />
                                }
                                else
                                {
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />

                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
