@model API_Adda.Models.ApprovalListModel
@inject IHttpContextAccessor Accessor
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "ApprovedPartner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-10">
    <div class="card">
        <div class="card-body">
            <div class="row form-group">
                <div class="col-md-12 addnew-popup-heading" style="border-bottom: 1px solid #f5eeee;">
                    <h4>Partner Approval</h4>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Case Id/User Id/Partner Name" />
                </div>
                <div class="col-md-2">
                    <input type="button" class="btn btn-primary" name="button" id="BtnSaveDraft" value="Search" />
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <table class="table table-hover table-striped" id="ApprovalList">
                        <thead>
                            <tr>
                                <th>Case Id</th>
                                <th>Partner Name</th>
                                <th>Project Description</th>
                                <th>API Risk</th>
                                <th>Partner Risk</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @foreach (var item in Model.lstApprovalTrailList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PartnetOnboading_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Partner_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Project_Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.API_risk)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Partnerrisk)
                                    </td>
                                    <td>
                                        @Html.ActionLink("", "ApprovedPartner", new { id = item.PartnetOnboading_ID }, new { @class = "bx bx-pencil" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/Common.js"></script>
