@model API_HUNT.Models.ExceptionLevels
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "ExceptionLevel2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SaveExceptionLevel2", "ExceptionManagement", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row form-group">
                    <div class="col-md-12 addnew-popup-heading" style="border-bottom: 1px solid #f5eeee;">
                        <h4>Exception Level 2:</h4>
                        <a href="/ExceptionManagement/AddEditException?CaseId=@Model.CaseID" class="close-btn" style="font-size: 15px; font-weight: 600;"><i class="bx bx-left-arrow-circle" style="vertical-align:middle;"></i> Back</a>
                    </div>
                </div>
                <div class="row form-group">
                    <div id="msform">
                        <div class="row form-group">
                            <div>
                                <label class="label-control" style="font-weight: 600;">Exception Approval Matrix For Case ID - </label> <label>@Model.CaseID</label>
                                @Html.HiddenFor(m => m.CaseID)
                            </div>

                        </div>
                        <div class="row form-group">
                            <h5 style="font-size: 17px;font-weight: 600;color: #20c4c6;">Concurred by:</h5>
                            <div class="col-md-4">
                                <label class="label-control">Business Vertical Head</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>

                                @Html.DropDownListFor(a => a.BusinessVerticalHead, (List<SelectListItem>
                                         )ViewBag.BusinessVerticalHeadList, "--Select--", new { @class = "form-control ", @id = "ddlBusinessVerticalHead" })
                                @Html.ValidationMessageFor(a => a.BusinessVerticalHead, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label class="label-control">ITDRM Vertical Head</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>

                                @Html.DropDownListFor(a => a.ITDRMVerticalHead, (List<SelectListItem>
                                         )ViewBag.ITDRMVerticalHeadList, "--Select--", new { @class = "form-control ", @id = "ddlITDRMVerticalHead" })
                                @Html.ValidationMessageFor(a => a.ITDRMVerticalHead, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <h5 style="font-size: 17px;font-weight: 600;color: #20c4c6;">Approved by:</h5>
                            <div class="col-md-4">
                                <label class="label-control">Business Group Head</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>

                                @Html.DropDownListFor(a => a.BusinessGroupHead, (List<SelectListItem>
                                         )ViewBag.BusinessGroupHeadList, "--Select--", new { @class = "form-control ", @id = "ddlBusinessGroupHead" })
                                @Html.ValidationMessageFor(a => a.BusinessGroupHead, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label class="label-control">CIO Group</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>

                                @Html.DropDownListFor(a => a.CIOGroup, (List<SelectListItem>
                                         )ViewBag.CIOGroupList, "--Select--", new { @class = "form-control ", @id = "ddlCIOGroup" })
                                @Html.ValidationMessageFor(a => a.CIOGroup, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                <label class="label-control">ITDRM Group Head</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>

                                @Html.DropDownListFor(a => a.ITDRMGroupHead, (List<SelectListItem>
                                         )ViewBag.ITDRMGroupHeadList, "--Select--", new { @class = "form-control ", @id = "ddlITDRMGroupHead" })
                                @Html.ValidationMessageFor(a => a.ITDRMGroupHead, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label class="label-control">CISO Group Head</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>

                                @Html.DropDownListFor(a => a.CISOGroupHead, (List<SelectListItem>
                                         )ViewBag.CISOGroupList, "--Select--", new { @class = "form-control ", @id = "ddlCISOGroupHead" })
                                @Html.ValidationMessageFor(a => a.CISOGroupHead, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                @if (Accessor.HttpContext.Session.GetString("Role") == "USER")
                                {
                                    <input type="submit" name="next" class="action-button" value="Request for exception approval" />
                                }
                                else
                                {
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />

                                    <br />

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}