@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model API_HUNT.Models.AddEditExceptionModel
@{
    ViewData["Title"] = "ExceptionApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row form-group">
                <div class="col-md-12 addnew-popup-heading" style="border-bottom: 1px solid #f5eeee;">
                    <h4>
                        Exception Approval
                    </h4>


                    @*@if (Accessor.HttpContext.Session.GetString("Role") == "USER")
                    {
                    <a class="btn btn-primary" href="/PartnerOnboarding/AddEditPartnerOnBoarding" id="new" style="font-size: 15px; font-weight: 600;margin-left: 985px;margin-bottom: 8px;">
                    <i class="bx bx-plus-circle" style="vertical-align: middle;"></i> Add Partner
                    </a>
                    }*@
                </div>
            </div>

        </div>
        <div class="row form-group">
            <div class="row form-group">
                <div class="col-md-12">

                    <table class="table table-hover table-striped" id="project_detail">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Exception ID</th>
                                <th>Partner Name</th>
                                <th>Status</th>
                                <th>CreatedBy</th>
                                <th>Date Created</th>
                                <th>Date Updated</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @if (Model.lstExceptionDetails != null)
                            {
                                @foreach (var item in Model.lstExceptionDetails)
                                {
                                    <tr>

                                        <td class="Appr">@item.CASEID</td>
                                        <td>@item.PartnerName</td>
                                        <td>@item.Status</td>
                                        <td>@item.CreatedBy</td>
                                        <td>@item.DateCreated</td>
                                        <td>@item.DateUpdated</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var IsSuccess = '@TempData["IsSuccess"]';
        var msg = '@TempData["Result"]';
        if (IsSuccess != '' && IsSuccess == 'True' && msg != '') {
            toastr.success(msg);
        }
        else if (IsSuccess != '' && IsSuccess == 'False' && msg != '') {
            toastr.error(msg);
        }

        var number = parseInt(@ViewBag.Number);

        if (number == 1) {
            $("#integration").show();
        }
    });


</script>
