@using Microsoft.AspNetCore.Http
@model API_Adda.Models.PartnerIntegrationNew

@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "EditPartnerIntegration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SaveEditPartnerIntegrationNew", "PartnerIntegrationNew", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="container mt-10">
        <div class="card">
            <div class="card-body">
                <div class="row form-group">
                    <div class="col-md-12 addnew-popup-heading" style="border-bottom: 1px solid #f5eeee;">
                        <h4>Edit Partner</h4>
                        <a href="/PartnerIntegrationNew/ListofPartner/" class="close-btn" style="font-size: 15px; font-weight: 600;"><i class="bx bx-left-arrow-circle" style="vertical-align:middle;"></i> Back</a>
                    </div>
                </div>
                <div class="row form-group">
                    <div id="msform">
                        <ul id="progressbar">
                            <li class="active" id="onboarding"><strong>Partner Onboarding</strong></li>
                            <li id="approval"><strong>Sent For Approval</strong></li>
                        </ul>
                        <fieldset>
                            <section class="background">
                                <b>Partner Details:</b>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerName, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.TextBoxFor(a => a.PartnerName, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerName, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.PartnerID)
                                        @Html.HiddenFor(a => a.CaseID)
                                        @Html.HiddenFor(a => a.Action)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerDescription, new { @class = "label-control" })&nbsp;&nbsp;
                                        @Html.TextBoxFor(a => a.PartnerDescription, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerDescription, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerType, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.TextBoxFor(a => a.PartnerType, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerType, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerSubType, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.TextBoxFor(a => a.PartnerSubType, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerSubType, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.PartnerSubType, new { @class = "form-control", @id = "hdnPartnerSubType" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerEntityType, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.TextBoxFor(a => a.PartnerEntityType, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerEntityType, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.PartnerEntityType, new { @class = "form-control", @id = "hdnPartnerEntityType" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerTPRMAssessmentApplicability, new { @class = "label-control" })&nbsp;&nbsp;
                                        @Html.TextBoxFor(a => a.PartnerTPRMAssessmentApplicability, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerTPRMAssessmentApplicability, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerRiskScore, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.TextBoxFor(a => a.PartnerRiskScore, new { @class = "form-control", type = "number", min = "0", step = "1", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerRiskScore, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerRisk, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.TextBoxFor(a => a.PartnerRisk, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerRisk, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerLastModifiedDate, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.PartnerLastModifiedDate, new { htmlAttributes = new { @class = "form-control", @style = "background-color: lightgray;", @readonly = "readonly" } })<br />
                                            <span id="TentativeGoLiveDate_Span" style="display:none;font-weight:bold;color:red;font-size: 12px;"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.CostCentre, new { @class = "label-control" })
                                        @Html.TextBoxFor(a => a.CostCentre, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.CostCentre, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.Remark, new { @class = "label-control" })&nbsp;&nbsp;
                                        @Html.TextBoxFor(a => a.Remark, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.Remark, "", new { @class = "text-danger" })
                                    </div>
                                    @if (Model.PartnerRiskAssessmentSheet != null && Model.PartnerRiskAssessmentSheet != "")
                                    {
                                        <div class="col-md-4 d-flex justify-content-center">
                                            <input type="button" id="btnViewPartnerRisk" name="btnViewPartnerRisk"
                                                   style="margin-top: 22px;margin-right: 175px;font-size: 12px; padding: 8px 16px; border-radius: 5px; background-color: #3498db; color: #fff; border: none; cursor: pointer; transition: background-color 0.3s ease;"
                                                   value="View Partner Risk Score"
                                                   onclick="openFileInPopup('@Url.Action("DisplayFile", "PartnerOnboardingNew" , new { fileName=Model.PartnerID + "_PartnerRiskAssessmentSheet" })')" />
                                        </div>
                                    }
                                </div>
                            </section>
                            <section class="background">
                                <div class="row form-group d-none">
                                    @if (Model.status == "Created")
                                    {
                                        <div class="col-md-3">
                                            <label class="label-control">API Name</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                            <div class="input-group">
                                                @Html.TextBoxFor(a => a.APIName, null, new { @class = "form-control" })
                                                @Html.HiddenFor(a => a.APIId)
                                                <div class="input-group-append">
                                                    @*<button class="search-btn-2">*@
                                                    <i class="bx bx-search-alt-2"></i>
                                                    @*</button>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(a => a.APIRisk, new { @class = "label-control" })
                                            @Html.TextBoxFor(a => a.APIRisk, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(a => a.APIRisk, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(a => a.APIRiskScore, new { @class = "label-control" })
                                            @Html.TextBoxFor(a => a.APIRiskScore, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(a => a.APIRiskScore, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-large btn-success" type="button" style="margin-top: 7%;" id="btnAdd"><i class="bx bx-plus"></i></button>
                                        </div>
                                    }
                                </div>
                                <div id="attributes">
                                    <div class="attr row form-group">
                                        <table id="tbladdAPI" name="tbladdAPI" class="TableAddDeleteNew table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>API Name</th>
                                                    <th>API Risk</th>
                                                    <th>API Risk Score</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblAPIbody">
                                                @for (int i = 0; i < Model.lstApiDeatil.Count; i++)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input type="text" name="APIId_@i" id="APIId_@i" class="form-control d-none APIId" readonly style="background-color: lightgray;" value="@Model.lstApiDeatil[i].APIId" />
                                                            <input type="text" name="APIName_@i" id="APIName_@i" class="form-control APIName" readonly style="background-color: lightgray;" value="@Model.lstApiDeatil[i].APIName" />
                                                        </td>
                                                        <td class="APIRisktd">
                                                            <input type="text" name="APIRisk_@i" id="APIRisk_@i" class="form-control APIRisk" readonly style="background-color: lightgray;" value="@Model.lstApiDeatil[i].APIRisk" />
                                                        </td>
                                                        <td>
                                                            <input type="text" name="APIRiskScore_@i" id="APIRiskScore_@i" class="form-control APIRiskScore" readonly style="background-color: lightgray;" value="@Model.lstApiDeatil[i].APIRiskScore" />
                                                        </td>
                                                        <td class="d-none">
                                                            <button class="close-btn" type="button" onclick="removeAPIRow(this)"><i class="bx bx-x-circle" style="color: red;"></i></button>
                                                        </td>
                                                        @if (Model.status == "Created")
                                                        {
                                                            @if (i == Model.lstApiDeatil.Count - 1)
                                                            {
                                                                <td style="width: 170px; text-align: center;" class="d-none">
                                                                    <!-- Button only in the last iteration --><!-- Button only in the last iteration -->
                                                                    <button class="close-btn" type="button" onclick="removeAPIRow(this)" style="margin-right: 115px;font-size: 10px;"><i class="bx bx-x-circle" style="color: red;"></i></button>
                                                                    <button id="btnViewAPIRisk" name="btnViewAPIRisk" class="action-button btn btn-primary btn-sm d-none" style="border-radius: 3px;margin-top: 0px; background-color: #3498db; color: #fff; border: none; cursor: pointer; transition: background-color 0.3s ease; font-size: 10px;" onclick="openFileInPopup('@Url.Action("DisplayFile", "PartnerIntegrationNew" , new { fileName=Model.CaseID + "_APIRiskAssessment" })')">VIEW API RISK SCORE</button>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td style="width: 170px;" class="d-none">
                                                                    <!-- Button only in the last iteration -->
                                                                    <button class="close-btn" type="button" onclick="removeAPIRow(this)" style="margin-right: 115px;font-size: 10px;"><i class="bx bx-x-circle" style="color: red;"></i></button>
                                                                </td>
                                                            }
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                            <section class="background">
                                <div class="row form-group">
                                    <b>Uploaded Files : </b>
                                    <div class="row form-group">
                                        <table class="table table-hover table-striped" id="FileSection_6">
                                            <thead>
                                                <tr>
                                                    <th style="width: 760px !important;">Document Type</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-border-bottom-0">
                                                @if (!string.IsNullOrEmpty(Model.ClientProfileSheet))
                                                {
                                                    <tr>
                                                        <td>Attached Client Profile Sheet</td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(Model.PartnerID))
                                                            {
                                                                <span class="label-control" style="color:grey;font-size: 12px;">@Model.PartnerID _ClientProfileSheet</span>

                                                                <br />
                                                                <a href="@Url.Action("DownloadFile", "PartnerOnboardingNew" , new { fileName=Model.PartnerID + "_ClientProfileSheet" })" target="_blank">
                                                                    <i class="bx bx-cloud-download" style="font-size: 20px;margin-top:2px;"></i> <!-- Download icon -->
                                                                </a>
                                                                <span>|</span>
                                                                <a href="#" onclick="openFileInPopup('@Url.Action("DisplayFile", "PartnerOnboardingNew" , new { fileName=Model.PartnerID + "_ClientProfileSheet" })')">
                                                                    <i class="bx bxs-show" style="font-size:20px;"></i> <!-- Display icon -->
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-danger">Not Uploaded</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.PartnerRiskAssessmentSheet))
                                                {
                                                    <tr>
                                                        <td>Attached Partner RiskAssessment Sheet</td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(Model.PartnerID))
                                                            {
                                                                <span class="label-control" style="color:grey;font-size: 12px;">@Model.PartnerID _PartnerRiskAssessmentSheet</span>

                                                                <br />
                                                                <a href="@Url.Action("DownloadFile", "PartnerOnboardingNew" , new { fileName=Model.PartnerID + "_PartnerRiskAssessmentSheet" })" target="_blank">
                                                                    <i class="bx bx-cloud-download" style="font-size: 20px;margin-top:2px;"></i> <!-- Download icon -->
                                                                </a>
                                                                <span>|</span>
                                                                <a href="#" onclick="openFileInPopup('@Url.Action("DisplayFile", "PartnerOnboardingNew" , new { fileName=Model.PartnerID + "_PartnerRiskAssessmentSheet" })')">
                                                                    <i class="bx bxs-show" style="font-size:20px;"></i> <!-- Display icon -->
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-danger">Not Uploaded</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.AttachedJourneyDocuments))
                                                {
                                                    <tr>
                                                        <td>Attached Journey Documents</td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(Model.CaseID))
                                                            {
                                                                <span class="label-control" style="color:grey;font-size: 12px;">@Model.CaseID _AttachedJourneyDocuments</span>

                                                                <br />
                                                                <a href="@Url.Action("DownloadFile", "PartnerIntegrationNew" , new { fileName=Model.CaseID + "_AttachedJourneyDocuments" })" target="_blank">
                                                                    <i class="bx bx-cloud-download" style="font-size: 20px;margin-top:2px;"></i> <!-- Download icon -->
                                                                </a>
                                                                <span>|</span>
                                                                <a href="#" onclick="openFileInPopup('@Url.Action("DisplayFile", "PartnerIntegrationNew" , new { fileName=Model.CaseID + "_AttachedJourneyDocuments" })')">
                                                                    <i class="bx bxs-show" style="font-size:20px;"></i> <!-- Display icon -->
                                                                </a>
                                                                @*@if (Model.status == "Created")
                                                    {
                                                    <span>|</span>
                                                    <label for="AttachedJourneyDocuments" class="upload">
                                                    <i class="bx bx-cloud-upload" style="font-size: 20px;margin-top:2px;color: #5777ba;"></i>
                                                    <input name="AttachedJourneyDocuments" id="AttachedJourneyDocuments" type="file" class="file-upload-field" value="" accept=".zip,.7z,.doc,.xls,.xlsx,.pdf" style="display: none;">
                                                    </label>
                                                    <span id="spnAttachedJourneyDocuments" class="label-control" style="color:grey;"></span>
                                                    }*@
                                                            }
                                                            else
                                                            {
                                                                <span class="text-danger">Not Uploaded</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                                @*else
                                            {
                                            <tr>
                                            <td>Attached Journey Documents</td>
                                            <td>
                                            @if (!string.IsNullOrEmpty(Model.CaseID))
                                            {
                                            @if (Model.statusDesc == "Created")
                                            {
                                            <input type="hidden" id="hdnAttachedJourneyDocuments" value="NoUpload">
                                            <label for="AttachedJourneyDocuments" class="upload">
                                            <i class="bx bx-cloud-upload" style="font-size: 20px;margin-top:2px;color: #5777ba;"></i>
                                            <input name="AttachedJourneyDocuments" id="AttachedJourneyDocuments" type="file" class="file-upload-field" value="" accept=".zip,.7z,.doc,.xls,.xlsx,.pdf" style="display: none;">
                                            </label>
                                            <span id="spnAttachedJourneyDocuments" class="label-control" style="color:grey;"></span>
                                            }
                                            }
                                            else
                                            {
                                            <span class="text-danger">Not Uploaded</span>
                                            }
                                            </td>
                                            </tr>
                                            }*@
                                                @if (!string.IsNullOrEmpty(Model.OtherDocument))
                                                {
                                                    <tr>
                                                        <td>Other Documents</td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(Model.CaseID))
                                                            {
                                                                <span class="label-control" style="color:grey;font-size: 12px;">@Model.CaseID _OtherDocument</span>

                                                                <br />
                                                                <a href="@Url.Action("DownloadFile", "PartnerIntegrationNew" , new { fileName=Model.CaseID + "_OtherDocument" })" target="_blank">
                                                                    <i class="bx bx-cloud-download" style="font-size: 20px;margin-top:2px;"></i> <!-- Download icon -->
                                                                </a>
                                                                <span>|</span>
                                                                <a href="#" onclick="openFileInPopup('@Url.Action("DisplayFile", "PartnerIntegrationNew" , new { fileName=Model.CaseID + "_OtherDocument" })')">
                                                                    <i class="bx bxs-show" style="font-size:20px;"></i> <!-- Display icon -->
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-danger">Not Uploaded</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                            <input type="button" id="redirectbutton" name="next" class="action-button btn btn-primary" value="Next" />
                            @if (Model.status == "Draft")
                            {
                                <input type="button" id="btnSaveAsDraft" name="next" class="action-button btn btn-primary" value="Save As Draft" />
                            }
                        </fieldset>
                        <fieldset>
                            <section class="background">
                                <div class="row form-group">
                                    <div>
                                        <label class="label-control" style="font-weight: 600;">Approval Matrix For Case ID - </label>
                                        <label id="CaseID" name="CaseID">@Model.ViewCaseId</label>
                                    </div>
                                    <div>
                                        <label class="label-control" style="font-weight: 600;">API Risk - </label>
                                        <label name="APIRiskClassification" id="APIRiskClassification">@Model.APIRisk</label>
                                    </div>
                                    <div>
                                        <label class="label-control" style="font-weight: 600;">Partner Risk - </label>
                                        <label name="PartnerRiskClassification" id="PartnerRiskClassification">@Model.PartnerRisk</label>
                                    </div>
                                </div>
                                <div class="row form-group" id="HOPP">
                                    <h5 style="font-size: 17px;font-weight: 600;color: #20c4c6;">Head of Product Processor</h5>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOPP_FH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HOPP_FH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHOPP_FH" })
                                        @Html.ValidationMessageFor(a => a.HOPP_FH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HOPP_FH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HOPP_FH_Status, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOPP_VH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HOPP_VH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHOPP_VH" })
                                        @Html.ValidationMessageFor(a => a.HOPP_VH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HOPP_VH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HOPP_VH_Status, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOPP_GH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HOPP_GH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHOPP_GH" })
                                        @Html.ValidationMessageFor(a => a.HOPP_GH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HOPP_GH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HOPP_GH_Status, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row form-group" id="HOB">
                                    <h5 style="font-size: 17px;font-weight: 600;color: #20c4c6;">Head of Business</h5>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOB_FH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HOB_FH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHOB_FH" })
                                        @Html.ValidationMessageFor(a => a.HOB_FH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HOB_FH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HOB_FH_Status, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOB_VH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HOB_VH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHOB_VH" })
                                        @Html.ValidationMessageFor(a => a.HOB_VH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HOB_VH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HOB_VH_Status, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOB_GH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HOB_GH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHOB_GH" })
                                        @Html.ValidationMessageFor(a => a.HOB_GH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HOB_GH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HOB_GH_Status, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row form-group" id="HODB">
                                    <h5 style="font-size: 17px;font-weight: 600;color: #20c4c6;">Head of Digital Banking</h5>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HODB_FH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HODB_FH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHODB_FH" })
                                        @Html.ValidationMessageFor(a => a.HODB_FH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HODB_FH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HODB_FH_Status, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HODB_VH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HODB_VH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHODB_VH" })
                                        @Html.ValidationMessageFor(a => a.HODB_VH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HODB_VH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HODB_VH_Status, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HODB_GH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HODB_GH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHODB_GH" })
                                        @Html.ValidationMessageFor(a => a.HODB_GH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HODB_GH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HODB_GH_Status, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row form-group" id="HOISG">
                                    <h5 style="font-size: 17px;font-weight: 600;color: #20c4c6;">Head of ISG</h5>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOISG_FH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HOISG_FH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHOISG_FH" })
                                        @Html.ValidationMessageFor(a => a.HOISG_FH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HOISG_FH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HOISG_FH_Status, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOISG_VH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HOISG_VH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHOISG_VH" })
                                        @Html.ValidationMessageFor(a => a.HOISG_VH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HOISG_VH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HOISG_VH_Status, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOISG_GH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HOISG_GH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHOISG_GH" })
                                        @Html.ValidationMessageFor(a => a.HOISG_GH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HOISG_GH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HOISG_GH_Status, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row form-group" id="HOITDRM">
                                    <h5 style="font-size: 17px;font-weight: 600;color: #20c4c6;">Head of ITDRM</h5>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOITDRM_FH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HOITDRM_FH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHOITDRM_FH" })
                                        @Html.ValidationMessageFor(a => a.HOITDRM_FH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HOITDRM_FH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HOITDRM_FH_Status, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOITDRM_VH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HOITDRM_VH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHOITDRM_VH" })
                                        @Html.ValidationMessageFor(a => a.HOITDRM_VH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HOITDRM_VH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HOITDRM_VH_Status, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOITDRM_GH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.DropDownListFor(a => a.HOITDRM_GH, Enumerable.Empty<SelectListItem>
                                                 (), "--Select--", new { @class = "form-control DropDownProject", @id = "ddlHOITDRM_GH" })
                                        @Html.ValidationMessageFor(a => a.HOITDRM_GH, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.HOITDRM_GH, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.HOITDRM_GH_Status, new { @class = "form-control" })
                                    </div>
                                </div>
                            </section>
                            @if (Accessor.HttpContext.Session.GetString("Role") == "USER")
                            {
                                <input type="button" name="btnSubmit" class="action-button d-none" value="Submit" id="btnSubmit" />
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                            }
                            else
                            {
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                <br />

                            }
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.DropDownProject').prop('disabled', true).css('color', '#lightgray');
        $("#APIName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/PartnerIntegrationNew/GetlstApiDeatil',
                    data: { "prefix": request.term },
                    type: "POST",
                    success: function (data) {
                        debugger;
                        response($.map(data, function (item) {
                            return { label: item.apiName, val: item.apiName };
                        }));
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                debugger;

                // Clear previously added API details
                $('#APIId').val("");
                $('#APIRisk').val("");
                $('#APIRiskScore').val("");

                $("#APIName").val(i.item.val);
                var consId = $("#APIName").val();
                $.ajax({
                    type: "POST",
                    url: '/PartnerIntegrationNew/GetApiDeatil',
                    data: {
                        APIName: consId
                    },
                    dataType: 'json',
                    success: function (response) {
                        debugger;
                        if (response != null) {
                            $('#APIId').val(response.apiId);
                            $('#APIRisk').val(response.apiRisk);
                            $('#APIRiskScore').val(response.apiRiskScore);
                        }
                        else {
                            $("#APIName").val("");
                        }
                    }
                });
            },
            minLength: 1,
            change: function (event, ui) {
                // Remove text that is not from the dropdown
                if (!ui.item) {
                    $("#APIName").val("");
                    $('#APIId').val("");
                    $('#APIRisk').val("");
                    $('#APIRiskScore').val("");
                }
            }
        });
        $('#AttachedJourneyDocuments').on('change', function () {
            if ($("#AttachedJourneyDocuments")[0].files[0] != undefined && $("#AttachedJourneyDocuments")[0].files[0].name != null &&
                $("#AttachedJourneyDocuments")[0].files[0].name != "") {
                $("#spnAttachedJourneyDocuments").text($("#AttachedJourneyDocuments")[0].files[0].name)
            }
        });

        $('#OtherDocument').on('change', function () {
            if ($("#OtherDocument")[0].files[0] != undefined && $("#OtherDocument")[0].files[0].name != null &&
                $("#OtherDocument")[0].files[0].name != "") {
                $("#spnOtherDocument").text($("#OtherDocument")[0].files[0].name)
            }
        });

        $(document).on("click", "#btnAdd", function () {
            AddAPIRow();
        });

        $("#redirectbutton").click(function () {
            debugger;
            if ($("#PartnerName").val() == '') {
                alert("Please enter Partner Name");
                return false;
            }
            else if ($("#tblAPIbody tr").length == 0) {
                alert("Please Add API !!");
                return false;
            }
            else {
                debugger;
                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({ 'opacity': opacity });
                    },
                    duration: 500
                });
                //setProgressBarNEw(++current);
                $("#PartnerRiskClassification").text($("#PartnerRisk").val());
                CalculateAPIRisk();
                BindPartnerCaseApprovalMetrix();
                //makeApprovedAsReadonly();
            }
        });

        $("#btnSaveAsDraft").click(function (e) {
            e.preventDefault();
            $("#Action").val("Draft");
        });

        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            debugger;
            if ($("#ddlHOPP_FH option").length > 1 && $("#ddlHOPP_FH").val() == "") {
                alert("Please Select Functional Head of Product processor!!");
                return false;
            }
            if ($("#ddlHOPP_VH option").length > 1 && $("#ddlHOPP_VH").val() == "") {
                alert("Please Select Vertical Head of Product processor!!");
                return false;

            }
            if ($("#ddlHOPP_GH option").length > 1 && $("#ddlHOPP_GH").val() == "") {
                alert("Please Select Group Head of Product processor!!");
                return false;
            }

            if ($("#ddlHOB_FH option").length > 1 && $("#ddlHOB_FH").val() == "") {
                alert("Please Select Business Functional Head !!");
                return false;
            }
            if ($("#ddlHOB_VH option").length > 1 && $("#ddlHOB_VH").val() == "") {
                alert("Please Select Business Vertical Head !!");
                return false;
            }
            if ($("#ddlHOB_GH option").length > 1 && $("#ddlHOB_GH").val() == "") {
                alert("Please Select Business Group Head !!");
                return false;
            }

            if ($("#ddlHODB_FH option").length > 1 && $("#ddlHODB_FH").val() == "") {
                alert("Please Select Functional Head of Digital Banking!!");
                return false;
            }
            if ($("#ddlHODB_VH option").length > 1 && $("#ddlHODB_VH").val() == "") {
                alert("Please Select Vertical Head of Digital Banking!!");
                return false;
            }
            if ($("#ddlHODB_GH option").length > 1 && $("#ddlHODB_GH").val() == "") {
                alert("Please Select group Head of Digital Banking!!");
                return false;
            }

            if ($("#ddlHOISG_FH option").length > 1 && $("#ddlHOISG_FH").val() == "") {
                alert("Please Select Functional Head of ISG!!");
                return false;
            }
            if ($("#ddlHOISG_VH option").length > 1 && $("#ddlHOISG_VH").val() == "") {
                alert("Please Select Vertical Head of ISG!!");
                return false;
            }
            if ($("#ddlHOISG_GH option").length > 1 && $("#ddlHOISG_GH").val() == "") {
                alert("Please Select Group Head of ISG!!");
                return false;
            }

            if ($("#ddlHOITDRM_FH option").length > 1 && $("#ddlHOITDRM_FH").val() == "") {
                alert("Please Select Functional Head of ITDRM!!");
                return false;
            }
            if ($("#ddlHOITDRM_VH option").length > 1 && $("#ddlHOITDRM_VH").val() == "") {
                alert("Please Select Vertical Head of ITDRM!!");
                return false;
            }
            if ($("#ddlHOITDRM_GH option").length > 1 && $("#ddlHOITDRM_GH").val() == "") {
                alert("Please Select Business group Head ITDRM!!");
                return false;
            }
            $("#Action").val("Created");
        });
    });
    function openFileInPopup(url) {
        debugger;
        try {
            if (url) {
                var width = 800;
                var height = 600;
                var left = (window.screen.width - width) / 2;
                var top = (window.screen.height - height) / 2;

                fetch(url)
                    .then(function (response) {
                        if (!response.ok) {
                            if (response.status == 404) {
                                alert("No File Uploaded For This");
                            }
                            else {
                                alert("HTTP Error: " + response.status);
                            }
                        } else {
                            var newWindow = window.open(url, '_blank', 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top);

                            if (newWindow) {
                                newWindow.focus();
                            } else {
                                alert("Failed to open the file. Please check if the file exists.");
                            }
                        }
                    })
                    .catch(function (error) {
                        alert("An error occurred: " + error.message);
                    });
            } else {
                alert("No file uploaded for this.");
            }
        } catch (error) {
            alert("An error occurred: " + error.message);
        }
    }
    function AddAPIRow() {
        var APIName = $("#APIName").val();
        var APIRisk = $("#APIRisk").val();
        var APIRiskScore = $("#APIRiskScore").val();
        var APIId = $("#APIId").val();
        var rowCount = $('.trAPI').length + 1;

        $('#tblAPIbody tr').each(function (e) {
            if ($(this).find("td .APIName").val() == $("#APIName").val()) {
                debugger;
                alert("Duplicate API not allowed to add !!");

                $("#APIName").val("");
                $("#APIRisk").val("");
                $("#APIRiskScore").val("");
                return false;
            }
        });

        if ($("#APIName").val() != null && $("#APIName").val() != "") {
            if (APIRisk != "" && APIRiskScore != "") {
                var newTR = '<tr class="trAPI">' +
                    '<td><input type="text" name="APIName_' + rowCount + '" id="APIName_' + rowCount + '" class="form-control APIName" readonly style="background-color: lightgray;" value="' + APIName + '"/>' +
                    '<input type="hidden" name="APIId_' + rowCount + '" id="APIId_' + rowCount + '" class="APIId" value="' + APIId + '"/></td>' + // Added hidden input for APIId
                    '</td>' +
                    '<td class="APIRisktd"><input type="text" name="APIRisk_' + rowCount + '" id="APIRisk_' + rowCount + '" class="form-control APIRisk" readonly style="background-color: lightgray;" value="' + APIRisk + '"/></td>' +
                    '<td><input type="text" name="APIRiskScore_' + rowCount + '" id="APIRiskScore_' + rowCount + '" class="form-control APIRiskScore" readonly style="background-color: lightgray;" value="' + APIRiskScore + '"/></td>' +
                    '<td><button class="close-btn" type="button" onclick="removeAPIRow(this)"><i class="bx bx-x-circle"style="color: red;"></i></button></td>' +
                    "</tr>";
                $('.TableAddDeleteNew tbody').append(newTR);

                $("#APIName").val("");
                $("#APIId").val("");
                $("#APIRisk").val("");
                $("#APIRiskScore").val("");
            } else {
                alert("API Risk and API Risk Score Required to Add API !!");
            }
            CalculateAPIRisk();
        }
    }
    function removeAPIRow(button) {
        $(button).closest('tr').remove();
        CalculateAPIRisk();
    }
    function openFileInPopup(url) {
        debugger;
        try {
            if (url) {
                var width = 800;
                var height = 600;
                var left = (window.screen.width - width) / 2;
                var top = (window.screen.height - height) / 2;

                fetch(url)
                    .then(function (response) {
                        if (!response.ok) {
                            if (response.status == 404) {
                                alert("No File Uploaded For This");
                            }
                            else {
                                alert("HTTP Error: " + response.status);
                            }
                        } else {
                            var newWindow = window.open(url, '_blank', 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top);

                            if (newWindow) {
                                newWindow.focus();
                            } else {
                                alert("Failed to open the file. Please check if the file exists.");
                            }
                        }
                    })
                    .catch(function (error) {
                        alert("An error occurred: " + error.message);
                    });
            } else {
                alert("No file uploaded for this.");
            }
        } catch (error) {
            alert("An error occurred: " + error.message);
        }
    }

    function CalculateAPIRisk() {
        var apiRiskCounts = {};
        $('#tblAPIbody .APIRisktd').each(function () {
            debugger;
            var apiRisk = "";
            $(this).find('input').each(function () {
                apiRisk = $(this).val();
            });

            if (apiRisk in apiRiskCounts) {
                apiRiskCounts[apiRisk]++;
            } else {
                apiRiskCounts[apiRisk] = 1;
            }
        });
        var maxApiRisk = null;
        var maxCount = 0;
        for (var apiRisk in apiRiskCounts) {
            if (apiRisk === "High") {
                maxApiRisk = "High";
                break;
            }
            else if (apiRisk === "Medium") {
                maxApiRisk = "Medium";
                break;
            }
            else {
                if (apiRiskCounts[apiRisk] > maxCount) {
                    maxCount = apiRiskCounts[apiRisk];
                    maxApiRisk = apiRisk;
                }
            }
        }
        // Set the maxApiRisk value to the PartnerRisk textbox
        $('#APIRiskClassification').text(maxApiRisk);
    }

    function BindPartnerCaseApprovalMetrix() {
        debugger;
        $("#HOPP").show();
        $("#HOB").show();
        $("#HODB").show();
        $("#HOISG").show();
        $("#HOITDRM").show();
        $(".DropDownProject option[value!='']").remove();
        $.ajax({
            url: "@Url.Action("PartnerCaseApprovalMetrix", "PartnerIntegrationNew")",
            data: {
                PartnerRiskClassification: $("#PartnerRiskClassification").text(),
                APIRiskClassification: $("#APIRiskClassification").text(),
                ApproverType: "Product processor",
                ApproverLevel: "VH"
            },
            dataType: "json",
            type: "GET",
            error: function () {
                alert(" An error occurred.");
            },
            success: function (data) {
                debugger;
                $(".DropDownProject option[value!='']").remove();
                objData = $.parseJSON(data);

                /*Bind OPtion ddlProdProcessorFH */
                var ddlHOPP_FH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "Product processor" && obj.ApproverLevel == "FH")
                if (ddlHOPP_FH.length > 0) {
                    $.each(ddlHOPP_FH, function (data, value) {
                        $("#ddlHOPP_FH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHOPP_FH').val($.trim($('#HOPP_FH').val()));
                }
                /*else {
                    $("#ddlHOPP_FH").hide();
                }*/

                /*Bind OPtion ddlProdProcessorVH */
                var ddlHOPP_VH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "Product processor" && obj.ApproverLevel == "VH")
                if (ddlHOPP_VH.length > 0) {
                    $.each(ddlHOPP_VH, function (data, value) {
                        $("#ddlHOPP_VH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHOPP_VH').val($.trim($('#HOPP_VH').val()));
                }
                /*else {
                    $("#ddlHOPP_VH").hide();
                }*/

                /*Bind OPtion ddlProdProcessorGH */
                var ddlHOPP_GH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "Product processor" && obj.ApproverLevel == "GH")
                if (ddlHOPP_GH.length > 0) {
                    $.each(ddlHOPP_GH, function (data, value) {
                        $("#ddlHOPP_GH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHOPP_GH').val($.trim($('#HOPP_GH').val()));
                }
                /*else {
                    $("#ddlHOPP_GH").hide();
                }*/

                /*Bind OPtion ddlBusinessFH */
                var ddlHOB_FH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "Business" && obj.ApproverLevel == "FH")
                if (ddlHOB_FH.length > 0) {
                    $.each(ddlHOB_FH, function (data, value) {
                        $("#ddlHOB_FH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHOB_FH').val($.trim($('#HOB_FH').val()));
                }
                /*else {
                    $("#ddlHOB_FH").hide();
                }*/

                /*Bind OPtion ddlBusinessGH */
                var ddlHOB_GH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "Business" && obj.ApproverLevel == "GH")
                if (ddlHOB_GH.length > 0) {
                    $.each(ddlHOB_GH, function (data, value) {
                        $("#ddlHOB_GH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHOB_GH').val($.trim($('#HOB_GH').val()));
                }
                /*else {
                    $("#ddlHOB_GH").hide();
                }*/

                /*Bind OPtion ddlBusinessVH */
                var ddlHOB_VH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "Business" && obj.ApproverLevel == "VH")
                if (ddlHOB_VH.length > 0) {
                    $.each(ddlHOB_VH, function (data, value) {
                        $("#ddlHOB_VH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHOB_VH').val($.trim($('#HOB_VH').val()));
                }
                /*else {
                    $("#ddlHOB_VH").hide();
                }*/

                /*Bind OPtion ddlDigitalBankingGH */
                var ddlHODB_FH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "Digital Banking" && obj.ApproverLevel == "FH")
                if (ddlHODB_FH.length > 0) {
                    $.each(ddlHODB_FH, function (data, value) {
                        $("#ddlHODB_FH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHODB_FH').val($.trim($('#HODB_FH').val()));
                }
                /*else {
                    $("#ddlHODB_FH").hide();
                }*/

                /*Bind OPtion ddlDigitalBankingFH */
                var ddlHODB_VH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "Digital Banking" && obj.ApproverLevel == "VH")
                if (ddlHODB_VH.length > 0) {
                    $.each(ddlHODB_VH, function (data, value) {
                        $("#ddlHODB_VH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHODB_VH').val($.trim($('#HODB_VH').val()));
                }
                /*else {
                    $("#ddlHODB_VH").hide();
                }*/

                /*Bind OPtion ddlDigitalBankingVH */
                var ddlHODB_GH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "Digital Banking" && obj.ApproverLevel == "GH")
                if (ddlHODB_GH.length > 0) {
                    $.each(ddlHODB_GH, function (data, value) {
                        $("#ddlHODB_GH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHODB_GH').val($.trim($('#HODB_GH').val()));
                }
                /*else {
                    $("#ddlHODB_GH").hide();
                }*/

                /*Bind OPtion ddlISGGH */
                var ddlHOISG_FH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "ISG" && obj.ApproverLevel == "FH")
                if (ddlHOISG_FH.length > 0) {
                    $.each(ddlHOISG_FH, function (data, value) {
                        $("#ddlHOISG_FH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHOISG_FH').val($.trim($('#HOISG_FH').val()));
                }
                /*else {
                    $("#ddlHOISG_FH").hide();
                }*/

                /*Bind OPtion ddlISGVH */
                var ddlHOISG_VH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "ISG" && obj.ApproverLevel == "VH")
                if (ddlHOISG_VH.length > 0) {
                    $.each(ddlHOISG_VH, function (data, value) {
                        $("#ddlHOISG_VH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHOISG_VH').val($.trim($('#HOISG_VH').val()));
                }
                /*else {
                    $("#ddlHOISG_VH").hide();
                }*/

                /*Bind OPtion ddlISGFH */
                var ddlHOISG_GH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "ISG" && obj.ApproverLevel == "GH")
                if (ddlHOISG_GH.length > 0) {
                    $.each(ddlHOISG_GH, function (data, value) {
                        $("#ddlHOISG_GH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHOISG_GH').val($.trim($('#HOISG_GH').val()));
                }
                /*else {
                    $("#ddlHOISG_GH").hide();
                }*/

                /*Bind OPtion ddlITDRMGH */
                var ddlHOITDRM_FH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "ITDRM" && obj.ApproverLevel == "FH")
                if (ddlHOITDRM_FH.length > 0) {
                    $.each(ddlHOITDRM_FH, function (data, value) {
                        $("#ddlHOITDRM_FH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHOITDRM_FH').val($.trim($('#HOITDRM_FH').val()));
                }
                /*else {
                    $("#ddlHOITDRM_FH").hide();
                }*/

                /*Bind OPtion ddlITDRMGH */
                var ddlHOITDRM_VH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "ITDRM" && obj.ApproverLevel == "VH")
                if (ddlHOITDRM_VH.length > 0) {
                    $.each(ddlHOITDRM_VH, function (data, value) {
                        $("#ddlHOITDRM_VH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHOITDRM_VH').val($.trim($('#HOITDRM_VH').val()));
                }
                /*else {
                    $("#ddlHOITDRM_VH").hide();
                }*/

                /*Bind OPtion ddlITDRMVH */
                var ddlHOITDRM_GH = objData.filter(obj => obj.PartnerRiskClassification == $("#PartnerRiskClassification").text() && obj.APIRiskClassification == $("#APIRiskClassification").text() && obj.ApproverType == "ITDRM" && obj.ApproverLevel == "GH")
                if (ddlHOITDRM_GH.length > 0) {
                    $.each(ddlHOITDRM_GH, function (data, value) {
                        $("#ddlHOITDRM_GH").append($("<option></option>").val(value.ApproverUserID).html(value.ApproverUserID + ' - ' + value.ApproverName));
                    });
                    $('#ddlHOITDRM_GH').val($.trim($('#HOITDRM_GH').val()));
                }
                /*else {
                    $("#ddlHOITDRM_GH").hide();
                }*/
                debugger;
                if (ddlHOPP_FH.length == 0 && ddlHOPP_GH.length == 0 && ddlHOPP_VH.length == 0) {
                    $("#HOPP").hide();
                }
                if (ddlHOB_FH.length == 0 && ddlHOB_VH.length == 0 && ddlHOB_GH.length == 0) {
                    $("#HOB").hide();
                }
                if (ddlHODB_FH.length == 0 && ddlHODB_VH.length == 0 && ddlHODB_GH.length == 0) {
                    $("#HODB").hide();
                }
                if (ddlHOISG_FH.length == 0 && ddlHOISG_VH.length == 0 && ddlHOISG_GH.length == 0) {
                    $("#HOISG").hide();
                }
                if (ddlHOITDRM_FH.length == 0 && ddlHOITDRM_VH.length == 0 && ddlHOITDRM_GH.length == 0) {
                    $("#HOITDRM").hide();
                }

                //if ($('#PartnerRiskClassification').text() == 'Not Applicable') {
                $(".DropDownProject").each(function () {
                    if ($(this).find("option").length === 1) {
                        $(this).hide();
                        $(this).closest('.col-md-4').hide();
                        var labelForDropdown = $(this).closest('.col-md-4').find("label[for='" + $(this).attr("id") + "']");
                        labelForDropdown.hide();
                    }
                });
                //}
            }
        });
    }

    function makeApprovedAsReadonly() {
        if ($("#HOPP_FH_Status").val() != null && $("#HOPP_FH_Status").val() != "") {
            $('#ddlHOPP_FH').prop('disabled', true);
            $('#ddlHOPP_FH').css('background-color', 'lightgray');
            $("#ddlHOPP_FH").css("border", "1px solid green");
        }
        if ($("#HOPP_VH_Status").val() != null && $("#HOPP_VH_Status").val() != "") {
            $('#ddlHOPP_VH').prop('disabled', true);
            $('#ddlHOPP_VH').css('background-color', 'lightgray');
            $("#ddlHOPP_VH").css("border", "1px solid green");
        }
        if ($("#HOPP_GH_Status").val() != null && $("#HOPP_GH_Status").val() != "") {
            $('#ddlHOPP_GH').prop('disabled', true);
            $('#ddlHOPP_GH').css('background-color', 'lightgray');
            $("#ddlHOPP_GH").css("border", "1px solid green");
        }
        if ($("#HOB_FH_Status").val() != null && $("#HOB_FH_Status").val() != "") {
            $('#ddlHOB_FH').prop('disabled', true);
            $('#ddlHOB_FH').css('background-color', 'lightgray');
            $("#ddlHOB_FH").css("border", "1px solid green");
        }
        if ($("#HOB_VH_Status").val() != null && $("#HOB_VH_Status").val() != "") {
            $('#ddlHOB_VH').prop('disabled', true);
            $('#ddlHOB_VH').css('background-color', 'lightgray');
            $("#ddlHOB_VH").css("border", "1px solid green");
        }
        if ($("#HOB_GH_Status").val() != null && $("#HOB_GH_Status").val() != "") {
            $('#ddlHOB_GH').prop('disabled', true);
            $('#ddlHOB_GH').css('background-color', 'lightgray');
            $("#ddlHOB_GH").css("border", "1px solid green");
        }
        if ($("#HODB_FH_Status").val() != null && $("#HODB_FH_Status").val() != "") {
            $('#ddlHODB_FH').prop('disabled', true);
            $('#ddlHODB_FH').css('background-color', 'lightgray');
            $("#ddlHODB_FH").css("border", "1px solid green");
        }
        if ($("#HODB_VH_Status").val() != null && $("#HODB_VH_Status").val() != "") {
            $('#ddlHODB_VH').prop('disabled', true);
            $('#ddlHODB_VH').css('background-color', 'lightgray');
            $("#ddlHODB_VH").css("border", "1px solid green");
        }
        if ($("#HODB_GH_Status").val() != null && $("#HODB_GH_Status").val() != "") {
            $('#ddlHODB_GH').prop('disabled', true);
            $('#ddlHODB_GH').css('background-color', 'lightgray');
            $("#ddlHODB_GH").css("border", "1px solid green");
        }
        if ($("#HOISG_FH_Status").val() != null && $("#HOISG_FH_Status").val() != "") {
            $('#ddlHOISG_FH').prop('disabled', true);
            $('#ddlHOISG_FH').css('background-color', 'lightgray');
            $("#ddlHOISG_FH").css("border", "1px solid green");
        }
        if ($("#HOISG_VH_Status").val() != null && $("#HOISG_VH_Status").val() != "") {
            $('#ddlHOISG_VH').prop('disabled', true);
            $('#ddlHOISG_VH').css('background-color', 'lightgray');
            $("#ddlHOISG_VH").css("border", "1px solid green");
        }
        if ($("#HOISG_GH_Status").val() != null && $("#HOISG_GH_Status").val() != "") {
            $('#ddlHOISG_GH').prop('disabled', true);
            $('#ddlHOISG_GH').css('background-color', 'lightgray');
            $("#ddlHOISG_GH").css("border", "1px solid green");
        }
        if ($("#HOITDRM_FH_Status").val() != null && $("#HOITDRM_FH_Status").val() != "") {
            $('#ddlHOITDRM_FH').prop('disabled', true);
            $('#ddlHOITDRM_FH').css('background-color', 'lightgray');
            $("#ddlHOITDRM_FH").css("border", "1px solid green");
        }
        if ($("#HOITDRM_VH_Status").val() != null && $("#HOITDRM_VH_Status").val() != "") {
            $('#ddlHOITDRM_VH').prop('disabled', true);
            $('#ddlHOITDRM_VH').css('background-color', 'lightgray');
            $("#ddlHOITDRM_VH").css("border", "1px solid green");
        }
        if ($("#HOITDRM_GH_Status").val() != null && $("#HOITDRM_GH_Status").val() != "") {
            $('#ddlHOITDRM_GH').prop('disabled', true);
            $('#ddlHOITDRM_GH').css('background-color', 'lightgray');
            $("#ddlHOITDRM_GH").css("border", "1px solid green");
        }
    }

</script>
