@model API_Adda.Models.PartnerApprovalNew
@inject IHttpContextAccessor Accessor
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "ApprovedPartner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SaveAddPartneronBoarding", "PartnerApprovalNew", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="container mt-10">
        <div class="card">
            <div class="card-body">
                <div class="row form-group">
                    <div class="col-md-12 addnew-popup-heading" style="border-bottom: 1px solid #f5eeee;">
                        <h4>Approve Partner</h4>
                        <a href="/PartnerApprovalNew/ListofPartner/" class="close-btn" style="font-size: 15px; font-weight: 600;"><i class="bx bx-left-arrow-circle" style="vertical-align:middle;"></i> Back</a>
                    </div>
                </div>
                <div class="row form-group">
                    <div id="msform">
                        <ul id="progressbar">
                            <li class="active" id="onboarding"><strong>Partner Onboarding</strong></li>
                            <li id="approval"><strong>Sent For Approval</strong></li>
                        </ul>
                        <fieldset>
                            <section class="background">
                                <b>Partner Details:</b>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerName, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.TextBoxFor(a => a.PartnerName, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerName, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.PartnerID)
                                        @Html.HiddenFor(a => a.CaseID)
                                        @Html.HiddenFor(a => a.Action)

                                        @Html.HiddenFor(a => a.CurrentApproverLevel, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.CurrentApproverUserID, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.CurrentSequence, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.CurrentDepartment, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.CurrentApprovalTrialID, new { @class = "form-control" })
                                        @Html.HiddenFor(a => a.PartnerSubType, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerDescription, new { @class = "label-control" })&nbsp;&nbsp;
                                        @Html.TextBoxFor(a => a.PartnerDescription, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerDescription, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerType, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.TextBoxFor(a => a.PartnerType, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerType, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerSubType, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.TextBoxFor(a => a.PartnerSubType, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerSubType, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.PartnerSubType, new { @class = "form-control", @id = "hdnPartnerSubType" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerEntityType, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.TextBoxFor(a => a.PartnerEntityType, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerEntityType, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(a => a.PartnerEntityType, new { @class = "form-control", @id = "hdnPartnerEntityType" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerTPRMAssessmentApplicability, new { @class = "label-control" })&nbsp;&nbsp;
                                        @Html.TextBoxFor(a => a.PartnerTPRMAssessmentApplicability, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerTPRMAssessmentApplicability, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerRiskScore, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.TextBoxFor(a => a.PartnerRiskScore, new { @class = "form-control", type = "number", min = "0", step = "1", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerRiskScore, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerRisk, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.TextBoxFor(a => a.PartnerRisk, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.PartnerRisk, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.PartnerLastModifiedDate, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.PartnerLastModifiedDate, new { htmlAttributes = new { @class = "form-control", @style = "background-color: lightgray;", @readonly = "readonly" } })<br />
                                            <span id="TentativeGoLiveDate_Span" style="display:none;font-weight:bold;color:red;font-size: 12px;"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.CostCentre, new { @class = "label-control" })
                                        @Html.TextBoxFor(a => a.CostCentre, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.CostCentre, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.Remark, new { @class = "label-control" })&nbsp;&nbsp;
                                        @Html.TextBoxFor(a => a.Remark, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.Remark, "", new { @class = "text-danger" })
                                    </div>
                                    @if (Model.PartnerRiskAssessmentSheet != null && Model.PartnerRiskAssessmentSheet != "")
                                    {
                                        <div class="col-md-4 d-flex justify-content-center">
                                            <input type="button" id="btnViewPartnerRisk" name="btnViewPartnerRisk"
                                                   style="margin-top: 22px;margin-right: 175px;font-size: 12px; padding: 8px 16px; border-radius: 5px; background-color: #3498db; color: #fff; border: none; cursor: pointer; transition: background-color 0.3s ease;"
                                                   value="View Partner Risk Score"
                                                   onclick="openFileInPopup('@Url.Action("DisplayFile", "PartnerOnboardingNew" , new { fileName=Model.PartnerID + "_PartnerRiskAssessmentSheet" })')" />
                                        </div>
                                    }
                                </div>
                            </section>
                            <section class="background">
                                <div class="row form-group d-none">
                                    @if (Model.status == "Created")
                                    {
                                        <div class="col-md-3">
                                            <label class="label-control">API Name</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                            <div class="input-group">
                                                @Html.TextBoxFor(a => a.APIName, null, new { @class = "form-control" })
                                                @Html.HiddenFor(a => a.APIId)
                                                <div class="input-group-append">
                                                    @*<button class="search-btn-2">*@
                                                    <i class="bx bx-search-alt-2"></i>
                                                    @*</button>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(a => a.APIRisk, new { @class = "label-control" })
                                            @Html.TextBoxFor(a => a.APIRisk, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(a => a.APIRisk, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.LabelFor(a => a.APIRiskScore, new { @class = "label-control" })
                                            @Html.TextBoxFor(a => a.APIRiskScore, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(a => a.APIRiskScore, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-large btn-success" type="button" style="margin-top: 7%;" id="btnAdd"><i class="bx bx-plus"></i></button>
                                        </div>
                                    }
                                </div>
                                <div id="attributes">
                                    <div class="attr row form-group">
                                        <table id="tbladdAPI" name="tbladdAPI" class="TableAddDeleteNew table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>API Name</th>
                                                    <th>API Risk</th>
                                                    <th>API Risk Score</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblAPIbody">
                                                @for (int i = 0; i < Model.lstApiDeatil.Count; i++)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input type="text" name="APIId_@i" id="APIId_@i" class="form-control d-none APIId" readonly style="background-color: lightgray;" value="@Model.lstApiDeatil[i].APIId" />
                                                            <input type="text" name="APIName_@i" id="APIName_@i" class="form-control APIName" readonly style="background-color: lightgray;" value="@Model.lstApiDeatil[i].APIName" />
                                                        </td>
                                                        <td class="APIRisktd">
                                                            <input type="text" name="APIRisk_@i" id="APIRisk_@i" class="form-control APIRisk" readonly style="background-color: lightgray;" value="@Model.lstApiDeatil[i].APIRisk" />
                                                        </td>
                                                        <td>
                                                            <input type="text" name="APIRiskScore_@i" id="APIRiskScore_@i" class="form-control APIRiskScore" readonly style="background-color: lightgray;" value="@Model.lstApiDeatil[i].APIRiskScore" />
                                                        </td>
                                                        <td class="d-none">
                                                            <button class="close-btn" type="button" onclick="removeAPIRow(this)"><i class="bx bx-x-circle" style="color: red;"></i></button>
                                                        </td>
                                                        @if (Model.status == "Created")
                                                        {
                                                            @if (i == Model.lstApiDeatil.Count - 1)
                                                            {
                                                                <td style="width: 170px; text-align: center;" class="d-none">
                                                                    <!-- Button only in the last iteration --><!-- Button only in the last iteration -->
                                                                    <button class="close-btn" type="button" onclick="removeAPIRow(this)" style="margin-right: 115px;font-size: 10px;"><i class="bx bx-x-circle" style="color: red;"></i></button>
                                                                    <button id="btnViewAPIRisk" name="btnViewAPIRisk" class="action-button btn btn-primary btn-sm d-none" style="border-radius: 3px;margin-top: 0px; background-color: #3498db; color: #fff; border: none; cursor: pointer; transition: background-color 0.3s ease; font-size: 10px;" onclick="openFileInPopup('@Url.Action("DisplayFile", "PartnerIntegrationNew" , new { fileName=Model.CaseID + "_APIRiskAssessment" })')">VIEW API RISK SCORE</button>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td style="width: 170px;" class="d-none">
                                                                    <!-- Button only in the last iteration -->
                                                                    <button class="close-btn" type="button" onclick="removeAPIRow(this)" style="margin-right: 115px;font-size: 10px;"><i class="bx bx-x-circle" style="color: red;"></i></button>
                                                                </td>
                                                            }
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                            <section class="background">
                                <div class="row form-group">
                                    <b>Uploaded Files : </b>
                                    <div class="row form-group">
                                        <table class="table table-hover table-striped" id="FileSection_6">
                                            <thead>
                                                <tr>
                                                    <th style="width: 760px !important;">Document Type</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-border-bottom-0">
                                                @if (!string.IsNullOrEmpty(Model.ClientProfileSheet))
                                                {
                                                    <tr>
                                                        <td>Attached Client Profile Sheet</td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(Model.PartnerID))
                                                            {
                                                                <span class="label-control" style="color:grey;font-size: 12px;">@Model.PartnerID _ClientProfileSheet</span>

                                                                <br />
                                                                <a href="@Url.Action("DownloadFile", "PartnerOnboardingNew" , new { fileName=Model.PartnerID + "_ClientProfileSheet" })" target="_blank">
                                                                    <i class="bx bx-cloud-download" style="font-size: 20px;margin-top:2px;"></i> <!-- Download icon -->
                                                                </a>
                                                                <span>|</span>
                                                                <a href="#" onclick="openFileInPopup('@Url.Action("DisplayFile", "PartnerOnboardingNew" , new { fileName=Model.PartnerID + "_ClientProfileSheet" })')">
                                                                    <i class="bx bxs-show" style="font-size:20px;"></i> <!-- Display icon -->
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-danger">Not Uploaded</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.PartnerRiskAssessmentSheet))
                                                {
                                                    <tr>
                                                        <td>Attached Partner RiskAssessment Sheet</td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(Model.PartnerID))
                                                            {
                                                                <span class="label-control" style="color:grey;font-size: 12px;">@Model.PartnerID _PartnerRiskAssessmentSheet</span>

                                                                <br />
                                                                <a href="@Url.Action("DownloadFile", "PartnerOnboardingNew" , new { fileName=Model.PartnerID + "_PartnerRiskAssessmentSheet" })" target="_blank">
                                                                    <i class="bx bx-cloud-download" style="font-size: 20px;margin-top:2px;"></i> <!-- Download icon -->
                                                                </a>
                                                                <span>|</span>
                                                                <a href="#" onclick="openFileInPopup('@Url.Action("DisplayFile", "PartnerOnboardingNew" , new { fileName=Model.PartnerID + "_PartnerRiskAssessmentSheet" })')">
                                                                    <i class="bx bxs-show" style="font-size:20px;"></i> <!-- Display icon -->
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-danger">Not Uploaded</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.AttachedJourneyDocuments))
                                                {
                                                    <tr>
                                                        <td>Attached Journey Documents</td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(Model.CaseID))
                                                            {
                                                                <span class="label-control" style="color:grey;font-size: 12px;">@Model.CaseID _AttachedJourneyDocuments</span>

                                                                <br />
                                                                <a href="@Url.Action("DownloadFile", "PartnerIntegrationNew" , new { fileName=Model.CaseID + "_AttachedJourneyDocuments" })" target="_blank">
                                                                    <i class="bx bx-cloud-download" style="font-size: 20px;margin-top:2px;"></i> <!-- Download icon -->
                                                                </a>
                                                                <span>|</span>
                                                                <a href="#" onclick="openFileInPopup('@Url.Action("DisplayFile", "PartnerIntegrationNew" , new { fileName=Model.CaseID + "_AttachedJourneyDocuments" })')">
                                                                    <i class="bx bxs-show" style="font-size:20px;"></i> <!-- Display icon -->
                                                                </a>
                                                                @*@if (Model.status == "Created")
                                                    {
                                                    <span>|</span>
                                                    <label for="AttachedJourneyDocuments" class="upload">
                                                    <i class="bx bx-cloud-upload" style="font-size: 20px;margin-top:2px;color: #5777ba;"></i>
                                                    <input name="AttachedJourneyDocuments" id="AttachedJourneyDocuments" type="file" class="file-upload-field" value="" accept=".zip,.7z,.doc,.xls,.xlsx,.pdf" style="display: none;">
                                                    </label>
                                                    <span id="spnAttachedJourneyDocuments" class="label-control" style="color:grey;"></span>
                                                    }*@
                                                            }
                                                            else
                                                            {
                                                                <span class="text-danger">Not Uploaded</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                                @*else
                                            {
                                            <tr>
                                            <td>Attached Journey Documents</td>
                                            <td>
                                            @if (!string.IsNullOrEmpty(Model.CaseID))
                                            {
                                            @if (Model.statusDesc == "Created")
                                            {
                                            <input type="hidden" id="hdnAttachedJourneyDocuments" value="NoUpload">
                                            <label for="AttachedJourneyDocuments" class="upload">
                                            <i class="bx bx-cloud-upload" style="font-size: 20px;margin-top:2px;color: #5777ba;"></i>
                                            <input name="AttachedJourneyDocuments" id="AttachedJourneyDocuments" type="file" class="file-upload-field" value="" accept=".zip,.7z,.doc,.xls,.xlsx,.pdf" style="display: none;">
                                            </label>
                                            <span id="spnAttachedJourneyDocuments" class="label-control" style="color:grey;"></span>
                                            }
                                            }
                                            else
                                            {
                                            <span class="text-danger">Not Uploaded</span>
                                            }
                                            </td>
                                            </tr>
                                            }*@
                                                @if (!string.IsNullOrEmpty(Model.OtherDocument))
                                                {
                                                    <tr>
                                                        <td>Other Documents</td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(Model.CaseID))
                                                            {
                                                                <span class="label-control" style="color:grey;font-size: 12px;">@Model.CaseID _OtherDocument</span>

                                                                <br />
                                                                <a href="@Url.Action("DownloadFile", "PartnerIntegrationNew" , new { fileName=Model.CaseID + "_OtherDocument" })" target="_blank">
                                                                    <i class="bx bx-cloud-download" style="font-size: 20px;margin-top:2px;"></i> <!-- Download icon -->
                                                                </a>
                                                                <span>|</span>
                                                                <a href="#" onclick="openFileInPopup('@Url.Action("DisplayFile", "PartnerIntegrationNew" , new { fileName=Model.CaseID + "_OtherDocument" })')">
                                                                    <i class="bx bxs-show" style="font-size:20px;"></i> <!-- Display icon -->
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-danger">Not Uploaded</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                            <input type="button" id="redirectbutton" name="next" class="action-button btn btn-primary" value="Next" />
                            @if (Model.status == "Draft")
                            {
                                <input type="button" id="btnSaveAsDraft" name="next" class="action-button btn btn-primary" value="Save As Draft" />
                            }
                        </fieldset>

                        <fieldset>
                            <section class="background">
                                <div class="row form-group">
                                    <div>
                                        <label class="label-control" style="font-weight: 600;">Approval Matrix For Case ID - </label>
                                        <label id="CaseID" name="CaseID">@Model.ViewCaseId</label>
                                    </div>
                                    <div>
                                        <label class="label-control" style="font-weight: 600;">API Risk - </label>
                                        <label name="APIRiskClassification" id="APIRiskClassification">@Model.APIRisk</label>
                                    </div>
                                    <div>
                                        <label class="label-control" style="font-weight: 600;">Partner Risk - </label>
                                        <label name="PartnerRiskClassification" id="PartnerRiskClassification">@Model.PartnerRisk</label>
                                    </div>
                                </div>
                                <div class="row form-group" id="HOPP">
                                    <h5 style="font-size: 17px;font-weight: 600;color: #20c4c6;">Head of Product Processor</h5>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOPP_FH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HOPP_FH)
                                        @Html.TextBoxFor(a => a.HOPP_FH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HOPP_FH, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOPP_VH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HOPP_VH)
                                        @Html.TextBoxFor(a => a.HOPP_VH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HOPP_VH, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOPP_GH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HOPP_GH)
                                        @Html.TextBoxFor(a => a.HOPP_GH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HOPP_GH, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group" id="HOB">
                                    <h5 style="font-size: 17px;font-weight: 600;color: #20c4c6;">Head of Business</h5>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOB_FH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HOB_FH)
                                        @Html.TextBoxFor(a => a.HOB_FH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HOB_FH, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOB_VH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HOB_VH)
                                        @Html.TextBoxFor(a => a.HOB_VH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HOB_VH, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOB_GH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HOB_GH)
                                        @Html.TextBoxFor(a => a.HOB_GH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HOB_GH, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group" id="HODB">
                                    <h5 style="font-size: 17px;font-weight: 600;color: #20c4c6;">Head of Digital Banking</h5>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HODB_FH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HODB_FH)
                                        @Html.TextBoxFor(a => a.HODB_FH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HODB_FH, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HODB_VH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HODB_VH)
                                        @Html.TextBoxFor(a => a.HODB_VH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HODB_VH, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HODB_GH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HODB_GH)
                                        @Html.TextBoxFor(a => a.HODB_GH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HODB_GH, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group" id="HOISG">
                                    <h5 style="font-size: 17px;font-weight: 600;color: #20c4c6;">Head of ISG</h5>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOISG_FH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HOISG_FH)
                                        @Html.TextBoxFor(a => a.HOISG_FH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HOISG_FH, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOISG_VH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HOISG_VH)
                                        @Html.TextBoxFor(a => a.HOISG_VH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HOISG_VH, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOISG_GH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HOISG_GH)
                                        @Html.TextBoxFor(a => a.HOISG_GH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HOISG_GH, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group" id="HOITDRM">
                                    <h5 style="font-size: 17px;font-weight: 600;color: #20c4c6;">Head of ITDRM</h5>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOITDRM_FH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HOITDRM_FH)
                                        @Html.TextBoxFor(a => a.HOITDRM_FH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HOITDRM_FH, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOITDRM_VH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HOITDRM_VH)
                                        @Html.TextBoxFor(a => a.HOITDRM_VH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HOITDRM_VH, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(a => a.HOITDRM_GH, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.HiddenFor(a => a.HOITDRM_GH)
                                        @Html.TextBoxFor(a => a.HOITDRM_GH_Name, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                        @Html.ValidationMessageFor(a => a.HOITDRM_GH, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-10">
                                        <label class="label-control fw-bold">Feedback/Reviewer Comment</label>&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                        @Html.TextAreaFor(a => a.Feedback, new { @class = "form-control", @cols = "40", @rows = "5", @maxlength = "450", @placeholder = "Please Enter Feedback here .....", @id = "Feedback" })
                                        <span id="Feedback_Span" style="display:none;font-weight:bold;color:red;font-size: 12px;"></span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12 text-center">
                                        <input type="button" class="btn btn-info" name="button" id="btnFeedbackV" value="Feedback to User" />
                                        <input type="submit" class="btn btn-info d-none" name="button" id="btnFeedback" value="Feedback to User" />

                                        <input type="button" class="btn btn-success" name="button" id="btnApprovedV" value="Approved" />
                                        <input type="submit" class="btn btn-success d-none" name="button" id="btnApproved" value="Approved" />

                                        <input type="button" class="btn btn-danger" name="button" id="btnRejectV" value="Reject" />
                                        <input type="submit" class="btn btn-danger d-none" name="button" id="btnReject" value="Reject" />
                                    </div>
                                </div>
                            </section>
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                            <br />
                            <section>
                                <div class="row form-group">
                                    @if (Model.lstPartnerOnBoardFeedbackHistory != null)
                                    {
                                        @if (Model.lstPartnerOnBoardFeedbackHistory.Count > 0)
                                        {
                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    <label class="label-control fw-bold">Approval Audit Trail :</label>
                                                    <table class="_table table table-hover table-striped" id="PartnerOnBoardHistory">
                                                        <thead>
                                                            <tr>
                                                                <th>Employee Name</th>
                                                                <th>Role</th>
                                                                <th>Feedback Details</th>
                                                                <th>Work Flow Status</th>
                                                                <th>Work Flow Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="table_body">
                                                            @if (Model.lstPartnerOnBoardFeedbackHistory != null)
                                                            {
                                                                for (int i = 0; i < Model.lstPartnerOnBoardFeedbackHistory.Count; i++)
                                                                {
                                                                    <tr>
                                                                        <td>@Model.lstPartnerOnBoardFeedbackHistory[i].EmpName</td>
                                                                        <td>@Model.lstPartnerOnBoardFeedbackHistory[i].Role</td>
                                                                        <td>@Model.lstPartnerOnBoardFeedbackHistory[i].Feedback_Details</td>
                                                                        <td>@Model.lstPartnerOnBoardFeedbackHistory[i].Status</td>
                                                                        <td>@Model.lstPartnerOnBoardFeedbackHistory[i].Created_Date</td>

                                                                        <td>@Html.HiddenFor(x => Model.lstPartnerOnBoardFeedbackHistory[i].EmpName)</td>
                                                                        <td>@Html.HiddenFor(x => Model.lstPartnerOnBoardFeedbackHistory[i].Role)</td>
                                                                        <td>@Html.HiddenFor(x => Model.lstPartnerOnBoardFeedbackHistory[i].Feedback_Details)</td>
                                                                        <td>@Html.HiddenFor(x => Model.lstPartnerOnBoardFeedbackHistory[i].Created_Date)</td>
                                                                    </tr>
                                                                }
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if ($('#HOPP_FH').val() == "" && $('#HOPP_VH').val() == "" && $('#HOPP_GH').val() == "") {
            $('#HOPP').hide();
        }
        if ($('#HOB_FH').val() == "" && $('#HOB_VH').val() == "" && $('#HOB_GH').val() == "") {
            $('#HOB').hide();
        }
        if ($('#HODB_FH').val() == "" && $('#HODB_VH').val() == "" && $('#HODB_GH').val() == "") {
            $('#HODB').hide();
        }
        if ($('#HOISG_FH').val() == "" && $('#HOISG_VH').val() == "" && $('#HOISG_GH').val() == "") {
            $('#HOISG').hide();
        }
        if ($('#HOITDRM_FH').val() == "" && $('#HOITDRM_VH').val() == "" && $('#HOITDRM_GH').val() == "") {
            $('#HOITDRM').hide();
        }

        if ($('#HOPP_FH_Name').val() == null || $('#HOPP_FH_Name').val() == "") {
            $('#HOPP_FH_Name').closest('div').hide();
        }
        if ($('#HOPP_VH_Name').val() == null || $('#HOPP_VH_Name').val() == "") {
            $('#HOPP_VH_Name').closest('div').hide();
        }
        if ($('#HOPP_GH_Name').val() == null || $('#HOPP_GH_Name').val() == "") {
            $('#HOPP_GH_Name').closest('div').hide();
        }

        if ($('#HOB_FH_Name').val() == null || $('#HOB_FH_Name').val() == "") {
            $('#HOB_FH_Name').closest('div').hide();
        }
        if ($('#HOB_VH_Name').val() == null || $('#HOB_VH_Name').val() == "") {
            $('#HOB_VH_Name').closest('div').hide();
        }
        if ($('#HOB_GH_Name').val() == null || $('#HOB_GH_Name').val() == "") {
            $('#HOB_GH_Name').closest('div').hide();
        }

        if ($('#HODB_FH_Name').val() == null || $('#HODB_FH_Name').val() == "") {
            $('#HODB_FH_Name').closest('div').hide();
        }
        if ($('#HODB_VH_Name').val() == null || $('#HODB_VH_Name').val() == "") {
            $('#HODB_VH_Name').closest('div').hide();
        }
        if ($('#HODB_GH_Name').val() == null || $('#HODB_GH_Name').val() == "") {
            $('#HODB_GH_Name').closest('div').hide();
        }

        if ($('#HOISG_FH_Name').val() == null || $('#HOISG_FH_Name').val() == "") {
            $('#HOISG_FH_Name').closest('div').hide();
        }
        if ($('#HOISG_VH_Name').val() == null || $('#HOISG_VH_Name').val() == "") {
            $('#HOISG_VH_Name').closest('div').hide();
        }
        if ($('#HOISG_GH_Name').val() == null || $('#HOISG_GH_Name').val() == "") {
            $('#HOISG_GH_Name').closest('div').hide();
        }

        if ($('#HOITDRM_FH_Name').val() == null || $('#HOITDRM_FH_Name').val() == "") {
            $('#HOITDRM_FH_Name').closest('div').hide();
        }
        if ($('#HOITDRM_GH_Name').val() == null || $('#HOITDRM_GH_Name').val() == "") {
            $('#HOITDRM_GH_Name').closest('div').hide();
        }
        if ($('#HOITDRM_VH_Name').val() == null || $('#HOITDRM_VH_Name').val() == "") {
            $('#HOITDRM_VH_Name').closest('div').hide();
        }

        $("#redirectbutton").click(function () {
            debugger;
            if ($("#PartnerName").val() == '') {
                alert("Please enter Partner Name");
                return false;
            }
            else if ($("#tblAPIbody tr").length == 0) {
                alert("Please Add API !!");
                return false;
            }
            else {
                debugger;
                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({ 'opacity': opacity });
                    },
                    duration: 500
                });
                //setProgressBarNEw(++current);
                $("#PartnerRiskClassification").text($("#PartnerRisk").val());
                CalculateAPIRisk();
                ApplyColorToApprovalLevel();
            }
        });

        $(document).on("click", "#btnFeedbackV", function () {
            if ($('#PartnerName').val() == '') {
                alert("Partner Name is Mandatory!!");
                return false;
            }
            if ($('#Feedback').val() == null || $('#Feedback').val() == '') {
                alert("Please Add Feedback !!");
                return false;
            }
            SaveAddPartnerApproval('Feedback');
        });
        $(document).on("click", "#btnApprovedV", function () {
            if ($('#PartnerName').val() == '') {
                alert("Partner Name is Mandatory!!");
                return false;
            }
            if (@(Model.FeedbackReply == null ? "true" : "false") && ($('#Feedback').val() == null || $('#Feedback').val() == '')) {
                alert("Please Add Feedback !!");
                return false;
            }
            SaveAddPartnerApproval('Approved');
        });
        $(document).on("click", "#btnRejectV", function () {
            if ($('#PartnerName').val() == '') {
                alert("Partner Name is Mandatory!!");
                return false;
            }
            if (@(Model.FeedbackReply == null ? "true" : "false") && ($('#Feedback').val() == null || $('#Feedback').val() == '')) {
                alert("Please Add Feedback !!");
                return false;
            }
            SaveAddPartnerApproval('Reject');
        });
        ApplyColorToApprovalLevel();
        CalculateAPIRisk();
    });

    function CalculateAPIRisk() {
        var apiRiskCounts = {};
        $('#tblAPIbody .APIRisktd').each(function () {
            debugger;
            var apiRisk = "";
            $(this).find('input').each(function () {
                apiRisk = $(this).val();
            });

            if (apiRisk in apiRiskCounts) {
                apiRiskCounts[apiRisk]++;
            } else {
                apiRiskCounts[apiRisk] = 1;
            }
        });
        var maxApiRisk = null;
        var maxCount = 0;
        for (var apiRisk in apiRiskCounts) {
            if (apiRisk === "High") {
                maxApiRisk = "High";
                break;
            }
            else if (apiRisk === "Medium") {
                maxApiRisk = "Medium";
                break;
            }
            else {
                if (apiRiskCounts[apiRisk] > maxCount) {
                    maxCount = apiRiskCounts[apiRisk];
                    maxApiRisk = apiRisk;
                }
            }
        }
        // Set the maxApiRisk value to the PartnerRisk textbox
        $('#APIRiskClassification').text(maxApiRisk);
    }

    function ApplyColorToApprovalLevel() {
        debugger;
        if ($("#HOPP_FH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HOPP" && $("#CurrentApproverLevel").val() == "FH") {
            $("#HOPP_FH_Name").css("border", "1px solid blue");
            $("#HOPP_VH_Name").css("border", "1px solid Yellow");
            $("#HOPP_GH_Name").css("border", "1px solid yellow");

            if ($('input[type="hidden"][name$="_FH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid blue");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid Yellow");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid yellow");
            }
        }
        else if ($("#HOPP_VH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HOPP" && $("#CurrentApproverLevel").val() == "VH") {
            $("#HOPP_FH_Name").css("border", "1px solid green");
            $("#HOPP_VH_Name").css("border", "1px solid blue");
            $("#HOPP_GH_Name").css("border", "1px solid yellow");

            if ($('input[type="hidden"][name$="_VH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid blue");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid yellow");
            }
        }
        else if ($("#HOPP_GH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HOPP" && $("#CurrentApproverLevel").val() == "GH") {
            $("#HOPP_FH_Name").css("border", "1px solid green");
            $("#HOPP_VH_Name").css("border", "1px solid green");
            $("#HOPP_GH_Name").css("border", "1px solid blue");

            if ($('input[type="hidden"][name$="_GH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid blue");
            }
        }

        if ($("#HOB_FH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HOB" && $("#CurrentApproverLevel").val() == "FH") {
            $("#HOB_FH_Name").css("border", "1px solid blue");
            $("#HOB_VH_Name").css("border", "1px solid Yellow");
            $("#HOB_GH_Name").css("border", "1px solid yellow");

            if ($('input[type="hidden"][name$="_FH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid blue");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid Yellow");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid yellow");
            }
        }
        else if ($("#HOB_VH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HOB" && $("#CurrentApproverLevel").val() == "VH") {
            $("#HOB_FH_Name").css("border", "1px solid green");
            $("#HOB_VH_Name").css("border", "1px solid blue");
            $("#HOB_GH_Name").css("border", "1px solid yellow");

            if ($('input[type="hidden"][name$="_VH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid blue");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid yellow");
            }
        }
        else if ($("#HOB_GH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HOB" && $("#CurrentApproverLevel").val() == "GH") {
            $("#HOB_FH_Name").css("border", "1px solid green");
            $("#HOB_VH_Name").css("border", "1px solid green");
            $("#HOB_GH_Name").css("border", "1px solid blue");

            if ($('input[type="hidden"][name$="_GH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid blue");
            }
        }

        if ($("#HODB_FH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HODB" && $("#CurrentApproverLevel").val() == "FH") {
            $("#HODB_FH_Name").css("border", "1px solid blue");
            $("#HODB_VH_Name").css("border", "1px solid Yellow");
            $("#HODB_GH_Name").css("border", "1px solid yellow");

            if ($('input[type="hidden"][name$="_FH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid blue");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid Yellow");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid yellow");
            }
        }
        else if ($("#HODB_VH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HODB" && $("#CurrentApproverLevel").val() == "VH") {
            $("#HODB_FH_Name").css("border", "1px solid green");
            $("#HODB_VH_Name").css("border", "1px solid blue");
            $("#HODB_GH_Name").css("border", "1px solid yellow");

            if ($('input[type="hidden"][name$="_VH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid blue");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid yellow");
            }
        }
        else if ($("#HODB_GH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HODB" && $("#CurrentApproverLevel").val() == "GH") {
            $("#HODB_FH_Name").css("border", "1px solid green");
            $("#HODB_VH_Name").css("border", "1px solid green");
            $("#HODB_GH_Name").css("border", "1px solid blue");

            if ($('input[type="hidden"][name$="_GH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid blue");
            }
        }

        if ($("#HOISG_FH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HOISG" && $("#CurrentApproverLevel").val() == "FH") {
            $("#HOISG_FH_Name").css("border", "1px solid blue");
            $("#HOISG_VH_Name").css("border", "1px solid Yellow");
            $("#HOISG_GH_Name").css("border", "1px solid yellow");

            if ($('input[type="hidden"][name$="_FH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid blue");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid Yellow");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid yellow");
            }
        }
        else if ($("#HOISG_VH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HOISG" && $("#CurrentApproverLevel").val() == "VH") {
            $("#HOISG_FH_Name").css("border", "1px solid green");
            $("#HOISG_VH_Name").css("border", "1px solid blue");
            $("#HOISG_GH_Name").css("border", "1px solid yellow");

            if ($('input[type="hidden"][name$="_VH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid blue");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid yellow");
            }
        }
        else if ($("#HOISG_GH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HOISG" && $("#CurrentApproverLevel").val() == "GH") {
            $("#HOISG_FH_Name").css("border", "1px solid green");
            $("#HOISG_VH_Name").css("border", "1px solid green");
            $("#HOISG_GH_Name").css("border", "1px solid blue");

            if ($('input[type="hidden"][name$="_GH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid blue");
            }
        }

        if ($("#HOITDRM_FH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HOITDRM" && $("#CurrentApproverLevel").val() == "FH") {
            $("#HOITDRM_FH_Name").css("border", "1px solid blue");
            $("#HOITDRM_VH_Name").css("border", "1px solid Yellow");
            $("#HOITDRM_GH_Name").css("border", "1px solid yellow");

            if ($('input[type="hidden"][name$="_FH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid blue");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid Yellow");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid yellow");
            }
        }
        else if ($("#HOITDRM_VH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HOITDRM" && $("#CurrentApproverLevel").val() == "VH") {
            $("#HOITDRM_FH_Name").css("border", "1px solid green");
            $("#HOITDRM_VH_Name").css("border", "1px solid blue");
            $("#HOITDRM_GH_Name").css("border", "1px solid yellow");

            if ($('input[type="hidden"][name$="_VH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid blue");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid yellow");
            }
        }
        else if ($("#HOITDRM_GH").val() == $("#CurrentApproverUserID").val() && $("#CurrentDepartment").val() == "HOITDRM" && $("#CurrentApproverLevel").val() == "GH") {
            $("#HOITDRM_FH_Name").css("border", "1px solid green");
            $("#HOITDRM_VH_Name").css("border", "1px solid green");
            $("#HOITDRM_GH_Name").css("border", "1px solid blue");

            if ($('input[type="hidden"][name$="_GH"][value="' + $("#CurrentApproverUserID").val() + '"]').length > 1) {
                $('input[type="text"][name$="_FH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_VH_Name"]').css("border", "1px solid green");
                $('input[type="text"][name$="_GH_Name"]').css("border", "1px solid blue");
            }
        }
    }

    function SaveAddPartnerApproval(st) {
        var partnerApproval = {};
        if ($('#CurrentDepartment').val() == "HOPP") {
            if ($('#CurrentApproverUserID').val() == $('#HOPP_FH').val()) {
                partnerApproval.AssignTo = $('#HOPP_VH').val();
                partnerApproval.AssignToLevel = "VH";
                partnerApproval.AssignToDept = "HOPP";
            }
            if ($('#CurrentApproverUserID').val() == $('#HOPP_VH').val()) {
                partnerApproval.AssignTo = $('#HOPP_GH').val();
                partnerApproval.AssignToLevel = "GH";
                partnerApproval.AssignToDept = "HOPP";
            }
        }
        if ($('#CurrentDepartment').val() == "HOB") {
            if ($('#CurrentApproverUserID').val() == $('#HOB_FH').val()) {
                partnerApproval.AssignTo = $('#HOB_VH').val();
                partnerApproval.AssignToLevel = "VH";
                partnerApproval.AssignToDept = "HOB";
            }
            if ($('#CurrentApproverUserID').val() == $('#HOB_VH').val()) {
                partnerApproval.AssignTo = $('#HOB_GH').val();
                partnerApproval.AssignToLevel = "GH";
                partnerApproval.AssignToDept = "HOB";
            }
        }
        if ($('#CurrentDepartment').val() == "HODB") {
            if ($('#CurrentApproverUserID').val() == $('#HODB_FH').val()) {
                partnerApproval.AssignTo = $('#HODB_VH').val();
                partnerApproval.AssignToLevel = "VH";
                partnerApproval.AssignToDept = "HODB";
            }
            if ($('#CurrentApproverUserID').val() == $('#HODB_VH').val()) {
                partnerApproval.AssignTo = $('#HODB_GH').val();
                partnerApproval.AssignToLevel = "GH";
                partnerApproval.AssignToDept = "HODB";
            }
        }
        if ($('#CurrentDepartment').val() == "HOISG") {
            if ($('#CurrentApproverUserID').val() == $('#HOISG_FH').val()) {
                partnerApproval.AssignTo = $('#HOISG_VH').val();
                partnerApproval.AssignToLevel = "VH";
                partnerApproval.AssignToDept = "HOISG";
            }
            if ($('#CurrentApproverUserID').val() == $('#HOISG_VH').val()) {
                partnerApproval.AssignTo = $('HOISG_GH').val();
                partnerApproval.AssignToLevel = "GH";
                partnerApproval.AssignToDept = "HOISG";
            }
        }
        if ($('#CurrentDepartment').val() == "HOITDRM") {
            if ($('#CurrentApproverUserID').val() == $('#HOITDRM_FH').val()) {
                partnerApproval.AssignTo = $('#HOITDRM_VH').val();
                partnerApproval.AssignToLevel = "VH";
                partnerApproval.AssignToDept = "HOITDRM";
            }
            if ($('#CurrentApproverUserID').val() == $('#HOITDRM_VH').val()) {
                partnerApproval.AssignTo = $('HOITDRM_GH').val();
                partnerApproval.AssignToLevel = "GH";
                partnerApproval.AssignToDept = "HOITDRM";
            }
        }

        partnerApproval.CaseID = $('#CaseID').val();
        partnerApproval.PartnerID = $('#PartnerID').val();
        partnerApproval.CurrentApproverUserID = $('#CurrentApproverUserID').val();
        partnerApproval.CurrentApproverLevel = $('#CurrentApproverLevel').val();
        partnerApproval.CurrentSequence = $('#CurrentSequence').val();
        partnerApproval.CurrentDepartment = $('#CurrentDepartment').val();
        partnerApproval.CurrentApprovalTrialID = $('#CurrentApprovalTrialID').val();
        partnerApproval.status = st;
        partnerApproval.Feedback = $('#Feedback').val();

        $.ajax({
            type: "POST",
            url: '/PartnerApprovalNew/SaveAddPartnerApproval',
            data: { partnerApproval: partnerApproval },
            //contentType: false, // Important to prevent jQuery from processing the data
            // processData: false, // Important to prevent jQuery from processing the data
            dataType: 'json',
            success: function (response) {
                if (response != null) {
                    debugger;
                    if (st == "Reject") {
                        alert("Partner Rejected !!");
                    }
                    else if (st == "Approved") {
                        alert("Partner Approved Successfully !!");
                    }
                    else if (st == "Feedback") {
                        alert("Feedback Sent To User !!");
                    }
                    window.location.href = '/PartnerApprovalNew/ListofPartner';
                }
                else {
                    toastr.error("Information not available against this Application.");
                }
                window.location.href = '/PartnerApprovalNew/ListofPartner';
            }
        });
    }
</script>