@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model API_Adda.Models.ApprovalListModel
@{
    ViewData["Title"] = "ApprovedPartner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-10">
    <div class="card">
        <div class="card-body">
            <div class="row form-group">
                <div class="col-md-12 addnew-popup-heading" style="border-bottom: 1px solid #f5eeee;">
                    <h4>
                        Partner Onboarding
                    </h4>


                    @*@if (Accessor.HttpContext.Session.GetString("Role") == "USER")
                    {
                    <a class="btn btn-primary" href="/PartnerOnboarding/AddEditPartnerOnBoarding" id="new" style="font-size: 15px; font-weight: 600;margin-left: 985px;margin-bottom: 8px;">
                    <i class="bx bx-plus-circle" style="vertical-align: middle;"></i> Add Partner
                    </a>
                    }*@
                </div>
            </div>

        </div>
        <div class="row form-group">
            <div class="col-md-12">

                <table class="table table-hover table-striped" id="project_detail">
                    <thead>
                        <tr>
                            <th>Case Id</th>
                            <th>Partner Name</th>
                            <th>Project Description</th>
                            <th>API Risk</th>
                            <th>Partner Risk</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @if (Model.lstApprovalTrailList != null)
                        {
                            if (Model.lstApprovalTrailList.Count > 0)
                            {
                                @foreach (var item in Model.lstApprovalTrailList)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PartnetOnboading_ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Partner_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Project_Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.API_risk)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Partnerrisk)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StatusDescription)
                                        </td>
                                        <td>
                                            @Html.ActionLink("", "ApprovedPartner", new { id = item.PartnetOnboading_ID }, new { @class = "bx bx-pencil" })
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var IsSuccess = '@TempData["IsSuccess"]';
        var msg = '@TempData["Result"]';
        if (IsSuccess != '' && IsSuccess == 'True' && msg != '') {
            toastr.success(msg);
        }
        else if (IsSuccess != '' && IsSuccess == 'False' && msg != '') {
            toastr.error(msg);
        }

        var number = parseInt(@ViewBag.Number);

        if (number == 1) {
            $("#integration").show();
        }
    });


</script>
