@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model API_HUNT.Models.ApprovalListNewModel
@{
    ViewData["Title"] = "ListofPartner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row form-group">
                <div class="col-md-12 addnew-popup-heading" style="border-bottom: 1px solid #f5eeee;">
                    <h4>
                        Partner Integration
                        @if (Convert.ToString(ViewBag.Status) == "False")
                        {

                            <a href="/PartnerIntegration/ListofPartner" style="font-weight:bold; color:#20C4C6;">&nbsp; Reset Filter</a>
                        }
                    </h4>
                    <a href="/PartnerDashboard/PartnerDashboardNew/" class="close-btn" style="font-size: 15px; font-weight: 600;"><i class="bx bx-left-arrow-circle" style="vertical-align:middle;"></i> Back</a>

                    @if (Accessor.HttpContext.Session.GetString("Role") == "USER")
                    {
                        <a class="btn btn-primary" href="/PartnerIntegration/AddPartnerIntegration" id="new" style="font-size: 15px; font-weight: 600;margin-left: 985px;margin-bottom: 8px;">
                            @*<i class="bx bx-plus-circle" style="vertical-align: middle;"></i>*@ Add Partner
                        </a>
                    }
                </div>
            </div>
        </div>
        @if (Accessor.HttpContext.Session.GetString("Role") == "USER")
        {
            <div class="row form-group">
                <div class="col-md-3" style="width: 20%;">
                    <div class="count-card">
                        <a href="/PartnerIntegration/ListofPartner?Status=1">
                            <div class="count-card-body">
                                <i class="bx bx-layer-plus"></i>
                                <div class="count-content">
                                    <p class="text-muted mt-2 mb-0">Request For Approval</p>
                                    <p class="text-24 line-height-1 mb-2">@ViewBag.Created</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3" style="width: 20%;">
                    <div class="count-card">
                        <a href="/PartnerIntegration/ListofPartner?Status=2">
                            <div class="count-card-body">
                                <i class="bx bx-user"></i>
                                <div class="count-content">
                                    <p class="text-muted mt-2 mb-0">Drafted</p>
                                    <p class="text-24 line-height-1 mb-2">@ViewBag.Drafted</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3" style="width: 20%;">
                    <div class="count-card">
                        <a href="/PartnerIntegration/ListofPartner?Status=3">
                            <div class="count-card-body">
                                <i class="bx bx-user"></i>
                                <div class="count-content">
                                    <p class="text-muted mt-2 mb-0">In Progress</p>
                                    <p class="text-24 line-height-1 mb-2">@ViewBag.InProgress</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3" style="width: 20%;">
                    <div class="count-card">
                        <a href="/PartnerIntegration/ListofPartner?Status=4">
                            <div class="count-card-body">
                                <i class="bx bx-cog"></i>
                                <div class="count-content">
                                    <p class="text-muted mt-2 mb-0">Awaiting For Reply</p>
                                    <p class="text-24 line-height-1 mb-2">@ViewBag.FeedbackReply</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3" style="width: 20%;">
                    <div class="count-card">
                        <a href="/PartnerIntegration/ListofPartner?Status=5">
                            <div class="count-card-body">
                                <i class="bx bx-x-circle"></i>
                                <div class="count-content">
                                    <p class="text-muted mt-2 mb-0">Approved / Reject</p>
                                    <p class="text-24 line-height-1 mb-2">@ViewBag.ApprovedReject</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3" style="display:none;">
                    <a href="/PartnerIntegration/ListofPartner">&#x21bb;</a>
                    <a href="/PartnerIntegration/ListofPartner" style="text-decoration: none; color: #333; display: flex; align-items: center;">
                        <span style="margin-right: 5px;">&#x21bb;</span> Refresh
                    </a>
                </div>
            </div>
        }
        <div class="row form-group">
            <div class="col-md-12">
                <table class="table table-hover table-striped" id="project_detail">
                    <thead>
                        <tr>
                            <th>Case ID</th>
                            <th>Partner Name</th>
                            <th>Created By</th>
                            <th>DateCreated</th>
                            <th>DateLastUpdated</th>
                            <th>Ageing</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @if (Model.lstApprovalTrailList != null)
                        {
                            @foreach (var item in Model.lstApprovalTrailList)
                            {
                                <tr>
                                    <td class="Appr">
                                        @item.ViewCaseId
                                        @Html.HiddenFor(model => item.CaseID)
                                    </td>
                                    <td>@item.PartnerName</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.LastmodifiedDate</td>
                                    <td>@item.Ageing</td>
                                    <td>@item.status</td>
                                    <td>
                                        <a href="@Url.Action("ViewPartnerIntegration", "PartnerIntegration" , new { id = item.CaseID })" title="View Details">
                                            <i class="bx bxs-show" style="font-size: 20px; margin-top: 2px;"></i>
                                        </a>
                                        <span>|</span>
                                        <a href="@Url.Action("ApprovedPartner", "PartnerApproval" , new { id = item.CaseID, status = item.status })" title="Edit Details">
                                            <i class="bx bxs-plus-circle" style="font-size: 20px; margin-top: 2px;"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var IsSuccess = '@TempData["IsSuccess"]';
        var msg = '@TempData["Result"]';
        if (IsSuccess != '' && IsSuccess == 'True' && msg != '') {
            toastr.success(msg);
        }
        else if (IsSuccess != '' && IsSuccess == 'False' && msg != '') {
            toastr.error(msg);
        }

        var number = parseInt(@ViewBag.Number);

        if (number == 1) {
            $("#integration").show();
        }
    });

</script>
