@using Microsoft.AspNetCore.Http
@model API_HUNT.Models.PartnerOnboardingNew

@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "EditPartneronBoarding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SaveAddPartneronBoarding", "PartnerOnboarding", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <form id="uploadForm" action="/PartnerOnboarding/ListofPartner" method="post" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row form-group">
                        <div class="col-md-12 addnew-popup-heading" style="border-bottom: 1px solid #f5eeee;">
                            <h4>Add Partner</h4>
                            <a href="/PartnerOnboarding/ListofPartner/" class="close-btn" style="font-size: 15px; font-weight: 600;"><i class="bx bx-left-arrow-circle" style="vertical-align:middle;"></i> Back</a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div id="msform">
                            <fieldset>
                                <section class="background">
                                    <b>Partner Details:</b>
                                    <div class="row form-group">
                                        <div class="col-md-4">
                                            @Html.LabelFor(a => a.PartnerName, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                            @Html.TextBoxFor(a => a.PartnerName, new { @class = "form-control", @required = "required" })
                                            @Html.ValidationMessageFor(a => a.PartnerName, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(a => a.Action)
                                            @Html.HiddenFor(a => a.PartnerID)
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(a => a.PartnerDescription, new { @class = "label-control" })&nbsp;&nbsp;
                                            @Html.TextBoxFor(a => a.PartnerDescription, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(a => a.PartnerDescription, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(a => a.PartnerType, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                            @Html.DropDownListFor(a => a.PartnerType, (List<SelectListItem>
                                                     )ViewBag.Listofproducts, "--Select--", new { @class = "form-control ", @id = "ddlPartnerType" })
                                            @Html.ValidationMessageFor(a => a.PartnerType, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(a => a.PartnerSubType, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                            @Html.DropDownListFor(a => a.PartnerSubType, new List<SelectListItem>
                                                     () {
                                        new SelectListItem { Text="-- Select --",Value=""}
                                        }, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(a => a.PartnerSubType, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(a => a.PartnerSubType, new { @class = "form-control", @id = "hdnPartnerSubType" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(a => a.PartnerEntityType, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                            @Html.DropDownListFor(a => a.PartnerEntityType, new List<SelectListItem>
                                                     () {
                                        new SelectListItem { Text="-- Select --",Value=""}
                                        }, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(a => a.PartnerEntityType, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(a => a.PartnerEntityType, new { @class = "form-control", @id = "hdnPartnerEntityType" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(a => a.PartnerTPRMAssessmentApplicability, new { @class = "label-control" })&nbsp;&nbsp;
                                            @Html.TextBoxFor(a => a.PartnerTPRMAssessmentApplicability, new { @class = "form-control", @readonly = "readonly", @style = "background-color: lightgray;" })
                                            @Html.ValidationMessageFor(a => a.PartnerTPRMAssessmentApplicability, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(a => a.PartnerRiskScore, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                            @Html.TextBoxFor(a => a.PartnerRiskScore, new { @class = "form-control", type = "number", min = "0", step = "1" })
                                            @Html.ValidationMessageFor(a => a.PartnerRiskScore, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(a => a.PartnerRisk, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                            @Html.DropDownListFor(a => a.PartnerRisk, new List<SelectListItem>
                                                     () {
                                        new SelectListItem { Text="High",Value="High"},
                                        new SelectListItem { Text="Medium",Value="Medium"},
                                        new SelectListItem { Text="Low", Value="Low"}
                                        }, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(a => a.PartnerRisk, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(a => a.PartnerLastModifiedDate, new { @class = "label-control" })&nbsp;&nbsp;<span style="font-weight:bold;color:red;font-size: 12px;">*</span>
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.PartnerLastModifiedDate, new { htmlAttributes = new { @class = "form-control", @style = "background-color: lightgray;", @readonly = "readonly" } })<br />
                                                <span id="TentativeGoLiveDate_Span" style="display:none;font-weight:bold;color:red;font-size: 12px;"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(a => a.CostCentre, new { @class = "label-control" })
                                            @Html.TextBoxFor(a => a.CostCentre, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(a => a.CostCentre, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(a => a.Remark, new { @class = "label-control" })&nbsp;&nbsp;
                                            @Html.TextBoxFor(a => a.Remark, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(a => a.Remark, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </section>
                                <div class="col-md-12">
                                    <section class="background">
                                        <b>Uploaded Files : </b>
                                        <div class="row form-group">
                                            <table class="table table-hover table-striped" id="FileSection_6">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 760px !important;">Document Type</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-border-bottom-0">
                                                    @if (!string.IsNullOrEmpty(Model.ClientProfileSheet))
                                                    {
                                                        <tr>
                                                            <td>Attached Client Profile Sheet</td>
                                                            <td>
                                                                @if (!string.IsNullOrEmpty(Model.PartnerID))
                                                                {
                                                                    <span class="label-control" style="color:grey;font-size: 12px;">@Model.PartnerID _ClientProfileSheet</span>

                                                                    <br />
                                                                    <a href="@Url.Action("DownloadFile", "PartnerOnboarding" , new { fileName=Model.PartnerID + "_ClientProfileSheet" })" target="_blank">
                                                                        <i class="bx bx-cloud-download" style="font-size: 20px;margin-top:2px;"></i> <!-- Download icon -->
                                                                    </a>
                                                                    <span>|</span>
                                                                    <a href="#" onclick="openFileInPopup('@Url.Action("DisplayFile", "PartnerOnboarding" , new { fileName=Model.PartnerID + "_ClientProfileSheet" })')">
                                                                        <i class="bx bxs-show" style="font-size:20px;"></i> <!-- Display icon -->
                                                                    </a>
                                                                    <span>|</span>
                                                                    <label for="ClientProfileSheet" class="upload">
                                                                        <i class="bx bx-cloud-upload" style="font-size: 20px;margin-top:2px;color: #5777ba;"></i>
                                                                        <input name="ClientProfileSheet" id="ClientProfileSheet" type="file" class="file-upload-field" value="" accept=".zip,.7z,.doc,.xls,.xlsx,.pdf" style="display: none;">
                                                                    </label>
                                                                    <span id="spnClientProfileSheet" class="label-control" style="color:grey;"></span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="text-danger">Not Uploaded</span>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td>Attached Client Profile Sheet</td>
                                                            <td>
                                                                @if (!string.IsNullOrEmpty(Model.PartnerID))
                                                                {
                                                                    <input type="hidden" id="hdnClientProfileSheet" value="NoUpload">
                                                                    <label for="ClientProfileSheet" class="upload">
                                                                        <i class="bx bx-cloud-upload" style="font-size: 20px;margin-top:2px;color: #5777ba;"></i>
                                                                        <input name="ClientProfileSheet" id="ClientProfileSheet" type="file" class="file-upload-field" value="" accept=".zip,.7z,.doc,.xls,.xlsx,.pdf" style="display: none;">
                                                                    </label>
                                                                    <span id="spnClientProfileSheet" class="label-control" style="color:grey;"></span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="text-danger">Not Uploaded</span>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                    @if (!string.IsNullOrEmpty(Model.PartnerRiskAssessmentSheet))
                                                    {
                                                        <tr>
                                                            <td>Attached Partner RiskAssessment Sheet</td>
                                                            <td>
                                                                @if (!string.IsNullOrEmpty(Model.PartnerID))
                                                                {
                                                                    <span class="label-control" style="color:grey;font-size: 12px;">@Model.PartnerID _PartnerRiskAssessmentSheet</span>

                                                                    <br />
                                                                    <a href="@Url.Action("DownloadFile", "PartnerOnboarding" , new { fileName=Model.PartnerID + "_PartnerRiskAssessmentSheet" })" target="_blank">
                                                                        <i class="bx bx-cloud-download" style="font-size: 20px;margin-top:2px;"></i> <!-- Download icon -->
                                                                    </a>
                                                                    <span>|</span>
                                                                    <a href="#" onclick="openFileInPopup('@Url.Action("DisplayFile", "PartnerOnboarding" , new { fileName=Model.PartnerID + "_PartnerRiskAssessmentSheet" })')">
                                                                        <i class="bx bxs-show" style="font-size:20px;"></i> <!-- Display icon -->
                                                                    </a>
                                                                    <span>|</span>
                                                                    <label for="PartnerRiskAssessmentSheet" class="upload">
                                                                        <i class="bx bx-cloud-upload" style="font-size: 20px;margin-top:2px;color: #5777ba;"></i>
                                                                        <input name="PartnerRiskAssessmentSheet" id="PartnerRiskAssessmentSheet" type="file" class="file-upload-field" value="" accept=".zip,.7z,.doc,.xls,.xlsx,.pdf" style="display: none;">
                                                                    </label>
                                                                    <span id="spnPartnerRiskAssessmentSheet" class="label-control" style="color:grey;"></span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="text-danger">Not Uploaded</span>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td>Attached Partner RiskAssessment Sheet</td>
                                                            <td>
                                                                @if (!string.IsNullOrEmpty(Model.PartnerID))
                                                                {
                                                                    <input type="hidden" id="hdnPartnerRiskAssessmentSheet" value="NoUpload">
                                                                    <label for="PartnerRiskAssessmentSheet" class="upload">
                                                                        <i class="bx bx-cloud-upload" style="font-size: 20px;margin-top:2px;color: #5777ba;"></i>
                                                                        <input name="PartnerRiskAssessmentSheet" id="PartnerRiskAssessmentSheet" type="file" class="file-upload-field" value="" accept=".zip,.7z,.doc,.xls,.xlsx,.pdf" style="display: none;">
                                                                    </label>
                                                                    <span id="spnPartnerRiskAssessmentSheet" class="label-control" style="color:grey;"></span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="text-danger">Not Uploaded</span>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                </div>
                                <input type="button" id="btnSave" name="next" class="action-button btn btn-primary" value="Submit" />
                                @if (Model.status == "Draft")
                                {
                                    <input type="button" id="btnSaveAsDraft" name="next" class="action-button btn btn-primary" value="Save As Draft" />
                                }
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#ddlPartnerType').on('change', function () {
            $("#hdnPartnerSubType").val("");
            GetMstPartnerType();
            handleValidation($('#ClientProfileSheet'), $(this).val() == 'Institutional Consumers');
            handleValidation($('#PartnerRiskAssessmentSheet'), $(this).val() != 'Institutional Consumers');
        });
        $('#PartnerSubType').on('change', function () {
            $("#hdnPartnerEntityType").val("");
            GetMstPartnerSubType();
        });
        $('#PartnerEntityType').on('change', function () {
            PartnerTPRMAssessmentApplicability();
            checkPartnerSubType();
        });
        $("#btnSave").click(function () {
            if ($("#PartnerName").val() == '') {
                alert("Please enter Partner Name");
                return false;
            }
            else if ($("#ddlPartnerType").val() == '') {
                alert("Please select Partner Type");
                return false;
            }
            else if ($("#PartnerSubType").val() == '') {
                alert("Please select Partner Sub Type");
                return false;
            }
            else if ($("#PartnerEntityType").val() == '') {
                alert("Please select Partner Entity Type");
                return false;
            }
            else if ($("#PartnerRiskScore").val() == '') {
                alert("Please enter Partner Risk Score");
                return false;
            }
            else if ($("#PartnerRisk").val() == '') {
                alert("Please enter Partner Risk");
                return false;
            }
            else if ($("#PartnerLastModifiedDate").val() == '') {
                alert("Please enter Tentative Go Live Date");
                return false;
            }
            //else if ($("#ClientProfileSheet").val() == '' && $('#ddlPartnerType').val()=='Institutional Consumers') {
            //    alert("Please Attach Client profile sheet");
            //    return false;
            //}
            //else if ($("#PartnerRiskAssessmentSheet").val() == '' && $('#ddlPartnerType').val()!='Institutional Consumers') {
            //    alert("Please Attach Partner Risk assessment sheet");
            //    return false;
            //}
            else {
                $("#Action").val("Submit");
                SaveAddPartneronBoarding("Submit");
            }
        });
        $("#btnSaveAsDraft").click(function () {
            $("#Action").val("Draft");
            SaveAddPartneronBoarding("Draft");
        });
        $('#ClientProfileSheet').on('change', function () {
            if ($("#ClientProfileSheet")[0].files[0] != undefined && $("#ClientProfileSheet")[0].files[0].name != null &&
                $("#ClientProfileSheet")[0].files[0].name != "") {
                $("#spnClientProfileSheet").text($("#ClientProfileSheet")[0].files[0].name)
            }
        });
        $('#PartnerRiskAssessmentSheet').on('change', function () {
            if ($("#PartnerRiskAssessmentSheet")[0].files[0] != undefined && $("#PartnerRiskAssessmentSheet")[0].files[0].name != null &&
                $("#PartnerRiskAssessmentSheet")[0].files[0].name != "") {
                $("#spnPartnerRiskAssessmentSheet").text($("#PartnerRiskAssessmentSheet")[0].files[0].name)
            }
        });
        $("#PartnerRiskScore").change(function () {
            var score = $(this).val();
            if (score <= 30) {
                $("#PartnerRisk").val("Low");
            } else if (score > 30 && score < 70) {
                $("#PartnerRisk").val("Medium");
            } else {
                $("#PartnerRisk").val("High");
            }
            $("#PartnerRisk").prop("readonly", true).css("background-color", "#f0f0f0");
            $("#PartnerRisk").css("pointer-events", "none");
        });
        GetMstPartnerType();
        checkPartnerSubType();
    });
    function GetMstPartnerType() {
        debugger;
        $.ajax({
            url: "@Url.Action("GetMstPartnerType", "PartnerOnboarding")",
            data: { PartnerType: $("#ddlPartnerType").val(), PartnerSubType: $("#PartnerSubType").val(), PartnerEntityType: $("#PartnerEntityType").val(), IdentFlag: 'GetMstPartnerType' },
            dataType: "json",
            type: "GET",
            error: function () {
                alert(" An error occurred.");
            },
            success: function (data) {
                objData = $.parseJSON(data);
                debugger;
                lstPartnerEntityType = objData;
                //var PartnerSubType = objData.filter(obj => obj.PartnerType == $("#PartnerType").text());
                $("#PartnerSubType").empty();
                $("#PartnerSubType").append($("<option></option>").val("").html("-- Select --"));
                $("#PartnerEntityType").empty();
                $("#PartnerEntityType").append($("<option></option>").val("").html("-- Select --"));
                $("#PartnerTPRMAssessmentApplicability").val('');
                if (objData.length > 0) {
                    $.each(objData, function (data, value) {
                        $("#PartnerSubType").append($("<option></option>").val(value.PartnerSubType).html(value.PartnerSubType));
                    });
                }
                debugger;
                if ($("#hdnPartnerSubType").val() != null && $("#hdnPartnerSubType").val() != "") {
                    $("#PartnerSubType").val($("#hdnPartnerSubType").val());
                    $("#hdnPartnerSubType").val("");
                    GetMstPartnerSubType();
                }
            }
        });
    }
    function handleValidation(inputElement, condition) {
        debugger;
        var wrapper = inputElement.closest('.file-upload');
        var span = wrapper.find('.file-upload-wrapper span');

        // Check the condition and add or remove "*" accordingly
        if (condition && inputElement.val() === '') {
            // Add "*" to the span within the current div
            if (span.length === 0) {
                $('span.tempSpan').remove();
                wrapper.find('.label-control').after('<span class="tempSpan" style="font-weight:bold;color:red;font-size: 12px;">*</span>');
            }
        } else {
            // Remove "*" from the span within the current div
            span.remove();
        }
    }
    function GetMstPartnerSubType() {
        debugger;
        $.ajax({
            url: "@Url.Action("GetMstPartnerType", "PartnerOnboarding")",
            data: { PartnerType: $("#ddlPartnerType").val(), PartnerSubType: $("#PartnerSubType").val(), PartnerEntityType: $("#PartnerEntityType").val(), IdentFlag: 'GetMstPartnerSubType' },
            dataType: "json",
            type: "GET",
            error: function () {
                alert(" An error occurred.");
            },
            success: function (data) {
                objData = $.parseJSON(data);

                lstPartnerEntityType = objData;
                //var PartnerEntityType = objData.filter(obj => obj.PartnerType == $("#PartnerSubType").text());
                $("#PartnerEntityType").empty();
                $("#PartnerEntityType").append($("<option></option>").val("").html("-- Select --"));
                $("#PartnerTPRMAssessmentApplicability").val('');
                if (objData.length > 0) {
                    $.each(objData, function (data, value) {
                        $("#PartnerEntityType").append($("<option></option>").val(value.PartnerEntityType).html(value.PartnerEntityType));
                    });
                }
                debugger;
                if ($("#hdnPartnerEntityType").val() != null && $("#hdnPartnerEntityType").val() != "") {
                    $("#PartnerEntityType").val($("#hdnPartnerEntityType").val());
                    $("#hdnPartnerEntityType").val("");
                    PartnerTPRMAssessmentApplicability();
                }
            }
        });
        PartnerTPRMAssessmentApplicability();
    }
    function PartnerTPRMAssessmentApplicability() {
        debugger;
        $.ajax({
            url: "@Url.Action("GetMstPartnerType", "PartnerOnboarding")",
            data: { PartnerType: $("#ddlPartnerType").val(), PartnerSubType: $("#PartnerSubType").val(), PartnerEntityType: $("#PartnerEntityType").val(), IdentFlag: 'GetMstPartnerEntityType' },
            dataType: "json",
            type: "GET",
            error: function () {
                alert(" An error occurred.");
            },
            success: function (data) {
                var obdata = $.parseJSON(data);
                debugger
                if (obdata != null && obdata[0].TPRMAapplicable != null) {
                    $("#PartnerTPRMAssessmentApplicability").val('');
                    $("#PartnerTPRMAssessmentApplicability").val(obdata[0].TPRMAapplicable);
                }
            }
        });
        checkPartnerSubType();
    }
    function openFileInPopup(url) {
        debugger;
        try {
            if (url) {
                var width = 800;
                var height = 600;
                var left = (window.screen.width - width) / 2;
                var top = (window.screen.height - height) / 2;

                fetch(url)
                    .then(function (response) {
                        if (!response.ok) {
                            if (response.status == 404) {
                                alert("No File Uploaded For This");
                            }
                            else {
                                alert("HTTP Error: " + response.status);
                            }
                        } else {
                            var newWindow = window.open(url, '_blank', 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top);

                            if (newWindow) {
                                newWindow.focus();
                            } else {
                                alert("Failed to open the file. Please check if the file exists.");
                            }
                        }
                    })
                    .catch(function (error) {
                        alert("An error occurred: " + error.message);
                    });
            } else {
                alert("No file uploaded for this.");
            }
        } catch (error) {
            alert("An error occurred: " + error.message);
        }
    }
    function SaveAddPartneronBoarding(clickBtn) {
        debugger
        var objPartnerOnboarding = {};
        objPartnerOnboarding.PartnerID = $('#PartnerID').val();
        objPartnerOnboarding.PartnerName = $('#PartnerName').val();
        objPartnerOnboarding.PartnerDescription = $('#PartnerDescription').val();
        objPartnerOnboarding.PartnerType = $('#ddlPartnerType').val();
        objPartnerOnboarding.PartnerSubType = $('#PartnerSubType').val();
        objPartnerOnboarding.PartnerEntityType = $('#PartnerEntityType').val();
        objPartnerOnboarding.PartnerTPRMAssessmentApplicability = $('#PartnerTPRMAssessmentApplicability').val();
        objPartnerOnboarding.PartnerRiskScore = $('#PartnerRiskScore').val();
        objPartnerOnboarding.PartnerRisk = $('#PartnerRisk').val();
        objPartnerOnboarding.PartnerLastModifiedDate = $('#PartnerLastModifiedDate').val();
        objPartnerOnboarding.CostCentre = $('#CostCentre').val();
        objPartnerOnboarding.Remark = $('#Remark').val();
        objPartnerOnboarding.Action = $("#Action").val();
        var formData = new FormData();

        // Append the files to the formData object
        formData.append("ClientProfileSheet", $("#ClientProfileSheet")[0].files[0]);
        formData.append("PartnerRiskAssessmentSheet", $("#PartnerRiskAssessmentSheet")[0].files[0]);

        formData.append("objPartnerOnboarding", JSON.stringify(objPartnerOnboarding));
        formData.append("jsonPartnerOnboarding", JSON.stringify(objPartnerOnboarding));
        debugger;
        try {
            $.ajax({
                type: "POST",
                url: '/PartnerOnboarding/SaveEditPartneronBoarding',
                data: formData,
                contentType: false, // Important to prevent jQuery from processing the data
                processData: false, // Important to prevent jQuery from processing the data
                dataType: 'json',
                success: function (response) {
                    if (response != null) {
                        debugger;
                        if (clickBtn == "Draft") { alert("Partner Detail Saved !!"); }
                        else { alert("Partner Submitted for Approval !!"); }
                        window.location.href = '/PartnerOnboarding/ListofPartner';
                    }
                    else {
                        toastr.error("Information not available against this Application.");
                    }
                    window.location.href = '/PartnerOnboarding/ListofPartner';
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //console.error("AJAX Error:", textStatus, errorThrown);
                    // You can handle the error here, for example, show an alert or log it.
                },
                complete: function () {
                    // This will be called after success or error
                    window.location.href = '/PartnerOnboarding/ListofPartner';
                }
            });
        } catch (error) {
            alert("An error occurred: " + error.message);
        }
    }
    function checkPartnerSubType() {
        var PartnerType = $('#ddlPartnerType').val();
        var partnerSubType = $('#PartnerSubType').val();
        var PartnerEntityType = $('#PartnerEntityType').val();
        var partnerRiskDropdown = $('#PartnerRisk');

        // Remove "Not Applicable" option if it exists
        partnerRiskDropdown.find('option[value="Not Applicable"]').remove();

        // If PartnerSubType is "corporate", add "Not Applicable" option and select it
        if (PartnerType === 'Institutional Consumers' && partnerSubType === 'Corporate Clients' && PartnerEntityType === 'Non-government') {
            partnerRiskDropdown.append('<option value="Not Applicable">Not Applicable</option>');
            partnerRiskDropdown.val('Not Applicable');
            $("#PartnerRiskScore").val("0");
            $("#PartnerRisk").prop("disabled", true).css("background-color", "#d3d3d3");
            $("#PartnerRiskScore").prop("readonly", true).css("background-color", "#d3d3d3");
        }
        else {
            $("#PartnerRiskScore").prop("readonly", false).css("background-color", "");
        }
    }
</script>