@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model API_HUNT.Models.PartnerOnboardingNew
@{
    ViewData["Title"] = "ListofPartner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row form-group">
                <div class="col-md-12 addnew-popup-heading" style="border-bottom: 1px solid #f5eeee;">
                    <a href="/PartnerDashboard/PartnerDashboardNew/" class="close-btn" style="font-size: 15px; font-weight: 600;"><i class="bx bx-left-arrow-circle" style="vertical-align:middle;"></i> Back</a>

                    @if (Accessor.HttpContext.Session.GetString("Role") == "USER")
                    {
                        <a class="btn btn-primary" href="/PartnerOnboarding/AddPartnerOnBoarding" id="new" style="font-size: 15px; font-weight: 600;margin-left: 985px;margin-bottom: 8px;">
                            @*<i class="bx bx-plus-circle" style="vertical-align: middle;"></i>*@ Add Partner
                        </a>
                    }
                </div>
            </div>

        </div>
        @if (Accessor.HttpContext.Session.GetString("Role") == "USER")
        {
            <div class="row form-group">
                <div class="col-md-12">

                    <table class="table table-hover table-striped" id="project_detail">
                        <thead>
                            <tr>
                                <th>Partner Name</th>
                                <th>Partner Type</th>
                                <th>Partner Sub Type</th>
                                <th>Partner Entity Type</th>
                                <th>Partner TPRM Application</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @if (Model.lstPartnerDetail != null)
                            {

                                @foreach (var item in Model.lstPartnerDetail)
                                {
                                    <tr>
                                        <td class="ApprName">@item.PartnerName</td>
                                        <td>@item.PartnerType</td>
                                        <td>@item.PartnerSubType</td>
                                        <td>@item.PartnerEntityType</td>
                                        <td>@item.PartnerTPRMAssessmentApplicability</td>
                                        <td>@item.CreatedBy</td>
                                        <td>
                                            <a href="@Url.Action("ViewPartneronBoarding", "PartnerOnboarding" , new { id = item.PartnerID })" title="View Details">
                                                <i class="bx bxs-show" style="font-size: 20px; margin-top: 2px;"></i>
                                            </a>
                                            <span>|</span>
                                            <a href="@Url.Action("EditPartneronBoarding", "PartnerOnboarding" , new { id = item.PartnerID })" title="Edit Details">
                                                <i class="bx bxs-pencil" style="font-size: 20px; margin-top: 2px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var IsSuccess = '@TempData["IsSuccess"]';
        var msg = '@TempData["Result"]';
        if (IsSuccess != '' && IsSuccess == 'True' && msg != '') {
            toastr.success(msg);
        }
        else if (IsSuccess != '' && IsSuccess == 'False' && msg != '') {
            toastr.error(msg);
        }
    });
</script>
